// Roadmap
.roadmap
  .roadmap__holder
    .container
      .roadmap__head.section-head(data-aos="fade-up")
        h4.h4-title.c-gray Roadmap
        h3.h3-title We are just in the beginning

    .roadmap__timeline-scroller.js-scroll-x
      .roadmap__timeline-content
        // timeline
        .timeline.js-set-width(data-aos="fade-up")
          // timeline col
          .timeline__col
            .timeline__col-wrapper
              .timeline__heading
                .h5-title 2020
                p.p-small.c-gray 3rd quarter
              .timeline__description
                p.p-small New app interface
          // timeline col
          .timeline__col
            .timeline__col-wrapper
              .timeline__heading
                p.p-small.c-gray 4th quarter
              .timeline__description
                p.p-small Маржинальная торговля Binance, Фьючерсная торговля Binance
          // timeline col
          .timeline__col
            .timeline__col-wrapper
              .timeline__heading
                .h5-title 2021
                p.p-small.c-gray 1st quarter
              .timeline__description
                p.p-small Smart терминал
          // timeline col
          .timeline__col
            .timeline__col-wrapper
              .timeline__heading
                p.p-small.c-gray 4th quarter
              .timeline__description
                p.p-small Маржинальная торговля Binance, Фьючерсная торговля Binance
          // timeline col
          .timeline__col
            .timeline__col-wrapper
              .timeline__heading
                .h5-title 2022
              .timeline__description
                p.p-small TBA
  .bg-waves.bg-waves--bottom.bg-waves--dark
    include ../../icons/svg-inline/waves-up.svg
