// INTEGRATIONS
.integrations
  .container
    .integrations__wrapper
      .integrations__mobile-head
        .section-head(data-teleport-target="integrations-head")

      .integrations__left
        .integrations__grid
          .integrations__grid-col(data-aos="fade-up")
            // .integration-card
            .integration-card
              .integration-card__image
                img(js-lazy data-src='img/logo-binance@2x.png' data-srcset='img/logo-binance@2x.png 2x')
          .integrations__grid-col(data-aos="fade-up")
            // .integration-card
            .integration-card.integration-card--disabled
              .integration-card__image
                img(js-lazy data-src='img/logo-bittrex@2x.png' data-srcset='img/logo-bittrex@2x.png 2x')
              .integration-card__tag.p-mini Soon
          .integrations__grid-col(data-aos="fade-up")
            // .integration-card
            .integration-card.integration-card--disabled
              .integration-card__image
                img(js-lazy data-src='img/logo-bitmex@2x.png' data-srcset='img/logo-bitmex@2x.png 2x')
              .integration-card__tag.p-mini Soon
          .integrations__grid-col(data-aos="fade-up")
            // .integration-card
            .integration-card.integration-card--disabled
              .integration-card__image
                img(js-lazy data-src='img/logo-poloniex@2x.png' data-srcset='img/logo-poloniex@2x.png 2x')
              .integration-card__tag.p-mini Soon

      .integrations__right(data-aos="fade-up")
        .integrations__right-wrapper
          .integrations__head.section-head.section-head--left
            .js-teleport(data-teleport-condition="<1200" data-teleport-to="integrations-head")
              h4.h4-title.c-light Integrations
              h2.h2-title.h3-title-md Available Exchanges
            p.p-main.c-gray We suport only Binance accounts now, but in the nearest future we’re planing to add other pupular platforms.
            p.p-main.c-gray <a href="#">Get notified</a> when the new exanges become able.
            a(href="#").btn.btn-primary Integrate Exchange
