// INTEGRATIONS
.integrations
  margin: 120px 0 160px
  &__wrapper, &__grid
    display: flex
    flex-wrap: wrap
    margin: -10px
  &__wrapper
    align-items: center
  &__left, &__right, &__grid-col
    width: 100%
    min-width: 1px
    min-height: 0
    flex: 0 0 50%
    max-width: 50%
    padding: 10px
  &__grid-col
    display: flex
    flex-direction: column
  &__left
    padding-left: 30px
  &__right-wrapper
    padding-left: 20px
    padding-right: 20px
  &__head
    .h2-title:last-child
      margin-bottom: 0.5em
  &__mobile-head
    display: none
    width: 100%
    min-width: 1px
    min-height: 0
    flex: 0 0 100%
    max-width: 100%
    padding: 10px 0px

+r($xl)
  .integrations
    margin: 112px 0 144px
    &__wrapper
      max-width: 500px
      margin-left: auto
      margin-right: auto
      // margin-left: 12.5%
      // margin-right: 12.5%
    &__left, &__right
      flex-basis: 100%
      max-width: 100%
      padding-left: 0
      padding-right: 0
    &__right-wrapper
      padding-left: 0
      padding-right: 0
      .section-head
        text-align: center
        .btn
          margin-top: 40px
    &__grid
      margin: 40px -4px 24px
    &__grid-col
      flex-basis: 25%
      max-width: 25%
      padding: 4px
    &__mobile-head
      display: block

+r($md)
  .integrations
    margin: 64px 0 64px
    // &__wrapper
    //   margin-left: 0
    //   margin-right: 0
    &__right-wrapper
      .section-head
        .btn
          margin-top: 32px

+r($sm)
  .integrations
    &__grid
      margin: 8px -4px 8px
    &__grid-col
      flex-basis: 50%
      max-width: 50%


// .integration-card
.integration-card
  position: relative
  flex: 1 0 auto
  min-height: 145px
  display: flex
  flex-direction: column
  justify-content: center
  padding: 16px 16px 16px 24px
  background: #0E1F4F
  border-radius: 16px
  box-shadow: 0px 0px 20px rgba(0, 45, 163, 0.1)
  transition: .25s $ease
  &--disabled
    background: #FFFFFF
    box-shadow: 0px 0px 20px rgba(0, 45, 163, 0.1)
  &__image
    flex: 0 0 auto
    text-align: center
    img
      max-width: 100%
  &__tag
    position: absolute
    top: 16px
    right: 0
    z-index: 2
    background: #BEC7DF
    color: white
    border-radius: 7px 0px 0px 7px
    padding: 7px 14px

+r($xl)
  .integration-card
    min-height: 136px
    padding: 8px
    &__tag
      padding: 5px 10px

+r($sm)
  .integration-card
    min-height: 154px
    padding: 10px
