// PLATFORM PERFORMANCE
.pperf
  .container
    .pperf__head(data-aos="fade-up")
      h4.h4-title.c-light Platform Performance
    .pperf__wrapper
      .pperf__col(data-aos="fade-up")
        .pperf__card
          .h1-title.c-primary <0.1 sec
          .h4-title Lightning Fast
          .p-main Time need to replicate the trade
          .pperf__card-pointer
            +svgMono('pointer-short')
      .pperf__col(data-aos="fade-up")
        .pperf__card
          .h1-title.c-primary 99,2%
          .h4-title Solid Execution
          .p-main Succes rate of copy trades
          .pperf__card-pointer
            +svgMono('pointer-long')
      .pperf__col(data-aos="fade-up")
        .pperf__card
          .h1-title.c-primary 99,9%
          .h4-title Sustainability
          .p-main Uptime of the service
          .pperf__card-pointer
            +svgMono('pointer-short')

