// accardeon
.faq__accardeon.accardeon.accardeon--bg-white.js-accardeon(data-aos="fade-up")
  -
    var list = [
      {title: t('faq.forInvestorsList.firstTitle') , description: t('faq.forInvestorsList.firstDescription')},
      {title: t('faq.forInvestorsList.secondTitle'), description: t('faq.forInvestorsList.secondDescription')},
      {title: t('faq.forInvestorsList.thirdTitle'), description: t('faq.forInvestorsList.thirdDescription')},
      {title: t('faq.forInvestorsList.fourthTitle'), description: t('faq.forInvestorsList.fourthDescription')},
      {title: t('faq.forInvestorsList.fifthTitle'), description: t('faq.forInvestorsList.fifthDescription')},
    ]
  each element in list
    // accardeon__element
    .accardeon__element
      .accardeon__toggler
        .accardeon__title
          .p-main= element.title
          +svgMono('arrow-down')
      .accardeon__content.accardeon__content--no-img
        p.p-main.c-gray= element.description
