.test-page
  .content
    .container
      //- div(style="margin: 50px 0")
      //-   h2.h2-title(style="color: #18DCA6") Modals
      //-   a(href="#pdp" js-popup).btn.btn-primary PDP modal

      div(style="margin: 50px 0")
        h2.h2-title(style="color: #18DCA6") Typography

        h1.h1-title Montserrat Alternates 48-52 Bold - H1
        h2.h2-title Montserrat Alternates 40-48 Bold - H2
        h3.h3-title Montserrat Alternates 24-28 Bold - h3, trader card name
        h4.h4-title Montserrat Alternates 18-22 Bold - h4, trader card items
        h5.h5-title Montserrat Alternates 16-20 Semi Bold - h5, buttons
        h6.h6-title Montserrat Alternates 14-18 Semi Bold - h6, menu, buttons

        p.p-main Open Sans 16-21 Reg - regular text, large
        p.p-small Open Sans 14-19 Reg - regular text, standart, label
        p.p-mini Open Sans 10 Bold - trader card graph


      div(style="margin: 50px 0")
        h2.h2-title(style="color: #18DCA6") Icon pack (mono)
        .test-icons
          +svgMono('arrow-down')

      div(style="margin: 50px 0")
        h2.h2-title(style="color: #18DCA6") Icon pack (color)
        .test-icons
          +svgColor('logo-sign')
          +svgColor('logo-beta')
