// FAQ
.faq
  margin: 160px 0 144px
  &--no-cta
    margin-bottom: 120px
  &__cta
    text-align: center
  &__accardeon
    margin: 48px auto 64px
    max-width: 574px

+r($xl)
  .faq
    margin: 144px 0 120px
    &--no-cta
      margin-bottom: 80px

+r($md)
  .faq
    margin: 64px 0
    &--no-cta
      margin-bottom: 24px
    &__accardeon
      margin: 28px auto 48px
      padding-left: 4px
      padding-right: 4px
      max-width: 100%
