// FAQ
.faq.faq--no-cta
  .container.container--8
    .faq__head.section-head(data-aos="fade-up")
      h4.h4-title.c-light Service Information
      h2.h2-title.h3-title-md Frequently Asked <br/>Questions

    // list
    include partials/_list
