// FAQ
.faq.faq--no-cta
  .container.container--8
    .faq__head.section-head(data-aos="fade-up")
      h4.h4-title.c-light=t('faq-no-cta.subtitle')
      h2.h2-title.h3-title-md=t('faq-no-cta.titleStart')
       br
       span=t('faq-no-cta.titleEnd')

    // list
    include partials/_investors-list
