// FAQ
- var currentLocale = locale || '';
.faq
  .container.container--8
    .faq__head.section-head(data-aos="fade-up")
      h4.h4-title.c-light=t('faq.subtitle')
      h2.h2-title.h3-title-md=t('faq.titleStart')
       br
       span=t('faq.titleEnd')

    // list
    include partials/_list

    .faq__cta(data-aos="fade-up")
      a(href=`/${currentLocale}/faq`).btn.btn-primary=t('faq.button')
