// B story
.b-story
  .container
    .b-story__wrapper
      .b-story__left(data-aos="fade-up")
        .b-story__left-wrapper
          .b-story__head.section-head.section-head--left
            h4.h4-title.c-light For successful traders
            h2.h2-title.h3-title-md Have a positive Binance story ?
            p.p-main.c-gray Подключите Binance аккаунт, и мы покажем, как выглядит ваша история доходности. Статистика будет доступна только вам, пока не сделаете её открытой.
            p.p-main.c-gray Ваши успехи в трейдинге - объект инвестиций для наших пользователей.
            a(href="#").btn.btn-primary Integrate Exchange

      .b-story__right(data-aos="fade-up")
        .b-story__image
          img(js-lazy data-src='img/b-story-graph.png' srcset='img/b-story-graph@2x.png 2x' alt="")
