// logo
.logo
  display: flex
  align-items: center
  font-size: 0
  padding-right: 24px
  &__icon
    flex: 0 0 auto
    .ico
      font-size: 24px
  &__name
    margin-left: 7px
    font-family: $monsterFont
    font-weight: 600
    font-size: 16px
    color: #000
    line-height: (20 / 16)
  &__tag
    flex: 0 0 auto
    align-self: flex-start
    margin-left: 8px
    .ico
      font-size: 20.5px
  &--white
    .logo
      &__name
        color: white

  // .bg-waves
.bg-waves
  position: relative
  background: white
  z-index: 2
  // padding-bottom: 9.6%
  font-size: 0
  svg
    position: relative
    // position: absolute
    // left: 50%
    // bottom: 0
    // transform: translateX(-50%)
    width: 100%
    height: 100%
    bottom: -2px
    overflow: visible
  &--bottom
    svg
      bottom: auto
      top: -2px

// section-head
.section-head
  text-align: center
  max-width: 566px
  margin-left: auto
  margin-right: auto
  .h4-title
    margin: 0 0 16px
  .h2-title, .h3-title
    margin: 0.5em 0
  .h2-title, .h4-title, .h3-title
    &:first-child
      margin-top: 0
    &:last-child
      margin-bottom: 0
  .btn
    margin-top: 24px
  &--left
    text-align: left
    max-width: 100%
    margin-left: 0
    margin-right: 0


// accardeon
.accardeon
  &__element
    color: $colorPrimary
    &:first-child
      margin-top: -8px
    &:hover
      color: white
    &.is-active
      color: white
      .accardeon__title
        .ico
          transform: rotate(180deg)
  &__toggler
    position: relative
    cursor: pointer
    padding: 8px 0px 8px 0px
    transition: color .25s $ease
  &__title
    display: flex
    align-items: center
    .ico
      margin-left: auto
      font-size: 6px
      transition: transform .25s $ease
      will-change: transform
      transform-style: preserve-3d
      backface-visibility: hidden
  &__content
    display: none
    padding: 4px 30px 12px 0px


// .menu-nav
.menu-nav
  display: flex
  transition: color .25s $ease
  &__icon
    position: relative
    flex: 0 0 56px
    height: 56px
    font-size: 0
    .ico
      position: absolute
      top: 0
      left: 0
      font-size: 56px
      transition: opacity .25s $ease
    svg[class^="ico ico-mono"]
      opacity: 0
  &__content
    padding-left: 20px
    max-width: 277px
    .p-mini
      margin-top: 4px
      color: $colorGray
      transition: color .25s $ease
  &:hover
    color: $colorPrimaryHover
    .menu-nav__content .p-mini
      color: $colorPrimaryHover
    .menu-nav__icon
      svg[class^="ico ico-color"]
        opacity: 0
      svg[class^="ico ico-mono"]
        opacity: 1

+r($md)
  .menu-nav
    &__icon
      flex-basis: 24px
      height: 24px
      .ico
        font-size: 24px
    &__content
      padding-left: 12px
      .p-mini
        display: none
