// PLATFORM PERFORMANCE
.nfeatures
  .container
    .nfeatures__head.section-head(data-aos="fade-up")
      h4.h4-title.c-light Platform Performance
    .nfeatures__wrapper
      .nfeatures__col(data-aos="fade-up")
        .nfeatures__card
          .h1-title.c-primary <0.1 sec
          .h4-title Lightning Fast
          .p-main Time need to replicate the trade
          .nfeatures__card-pointer
            +svgMono('pointer-short')
      .nfeatures__col(data-aos="fade-up")
        .nfeatures__card
          .h1-title.c-primary 99,2%
          .h4-title Solid Execution
          .p-main Succes rate of copy trades
          .nfeatures__card-pointer
            +svgMono('pointer-long')
      .nfeatures__col(data-aos="fade-up")
        .nfeatures__card
          .h1-title.c-primary 99,9%
          .h4-title Sustainability
          .p-main Uptime of the service
          .nfeatures__card-pointer
            +svgMono('pointer-short')

