// email-list
.email-list
  .container.container--8
    .email-list__head.section-head(data-aos="fade-up")
      h2.h3-title Emails
    .email-list__grid
      .email-list__col
        .email-list__element(data-aos="fade-up")
          .h5-title.c-gray General questions
          a.h6-title.email-list__link(href="mailto:hello@coinmatics.io") hello@coinmatics.io
      .email-list__col
        .email-list__element(data-aos="fade-up")
          .h5-title.c-gray For Tnvestors
          a.h6-title.email-list__link(href="mailto:in@coinmatics.io") in@coinmatics.io
      .email-list__col
        .email-list__element(data-aos="fade-up")
          .h5-title.c-gray For Traders
          a.h6-title.email-list__link(href="mailto:tr@coinmatics.io") tr@coinmatics.io

      .email-list__col
        .email-list__element(data-aos="fade-up")
          .h5-title.c-gray IT support
          a.h6-title.email-list__link(href="mailto:support@coinmatics.io") support@coinmatics.io
      .email-list__col
        .email-list__element(data-aos="fade-up")
          .h5-title.c-gray Account questions
          a.h6-title.email-list__link(href="mailto:billing@coinmatics.io") billing@coinmatics.io
      .email-list__col
        .email-list__element(data-aos="fade-up")
          .h5-title.c-gray Start
          a.h6-title.email-list__link(href="mailto:hello@coinmatics.io") hello@coinmatics.io

