// HERO
.hero
  .container
    .hero__wrapper
      .hero__content
        .hero__content-wrapper
          h1.h1-title(data-aos="fade-up") Replicate performance of the best crypto traders
          p.p-main(data-aos="fade-up") With Copy Trading Tool, our instrument for trading, which is based on copying deals of experienced successful traders.
          a(href="#" data-aos="fade-up").btn.btn-primary.btn--xl Start Earning
      .hero__image(data-aos="fade")
        include ../../icons/svg-inline/illustration_main.svg
