// HERO
.hero
  .container
    .hero__wrapper
      .hero__content
        .hero__content-wrapper
          h1.h1-title.h3-title-md(data-aos="fade-up")=t('hero.title')
          p.p-main.p-small-md(data-aos="fade-up")=t('hero.subtitle')
          div(data-aos="fade-up")
            a(href=baseUrl + `/signup?l=${locale}`).btn.btn-primary=t('hero.button')
      .hero__image(data-aos="fade")
        include ../../icons/svg-inline/illustration_main.svg
