// HERO
.hero
  .container
    .hero__wrapper
      .hero__content
        .hero__content-wrapper
          h1.h1-title.h3-title-md(data-aos="fade-up") Replicate performance of the best crypto traders
          p.p-main.p-small-md(data-aos="fade-up") With Copy Trading Tool, our instrument for trading, which is based on copying deals of experienced successful traders.
          div(data-aos="fade-up")
            a(href="#").btn.btn-primary.btn--xl Start Earning
      .hero__image(data-aos="fade")
        include ../../icons/svg-inline/illustration_main.svg
