// notfound
.notfound
  .container
    .notfound__wrapper
      .notfound__image
        include ../../icons/svg-inline/404.svg
      .notfound__content(data-aos="fade-up")
        .h2-title OOPS!
        .p-main It’s look like we can’t find the page that you’re looking for :(
        a(href="#").btn.btn-primary Back to Home
