// REG CTA
.reg-cta
  .container.container--8
    .reg-cta__holder(data-aos="fade-up")
      .reg-cta__wrapper
        .reg-cta__content
          h3.h3-title=t('reg-cta-about.title')
          p.p-small.c-gray=t('reg-cta-about.description')
          a(href="#").btn.btn-primary.show-intercom=t('reg-cta-about.button')
        .reg-cta__image
          include ../../icons/svg-inline/illustration_reg-cta.svg
