// REG CTA
.reg-cta
  .container.container--8
    .reg-cta__holder(data-aos="fade-up")
      .reg-cta__wrapper
        .reg-cta__content
          h3.h3-title Ready to invest?
          p.p-small.c-gray Sign Up to our plaform and start to earn money.
        .reg-cta__btn
          a(href="#").btn.btn-primary Sign Up
