// Content
.content
  margin: 120px 0 96px
  &__section
    margin: 72px 0
  &__section-title
    margin-bottom: 28px
    color: $fontColor
  &__wrapper
    display: flex
    flex-wrap: wrap
    margin: -10px
  &__sidebar, &__text-section
    width: 100%
    min-width: 1px
    min-height: 0
    padding: 10px
  &__sidebar
    flex: 0 0 $col3
    max-width: $col3
  &__sidebar-wrapper

  &__sidebar-tabs
    margin: 0px 0
    list-style: none
    padding: 0
    li
      display: block
      &.is-active
        a
          color: $colorPrimary
          &::after
            opacity: 1
            transform: translate(0px, -50%)
    a
      position: relative
      display: inline-block
      padding: 10px
      color: $colorLight
      transition: .25s $ease
      &:hover
        color: $colorPrimaryHover
      &::after
        display: inline-block
        content: ' '
        position: absolute
        left: 0
        top: 50%
        size: 2px 20px
        background: $colorPrimary
        border-radius: 8px
        opacity: 0
        transform: translate(-5px, -50%)
        pointer-events: none
        transition: .25s $ease
  &__section-tabs
    margin: 0 -10px
    list-style: none
    padding: 0
    display: flex
    flex-wrap: wrap
    li
      display: block
      margin-right: 12px
      &:last-child
        margin-right: 0
      &.is-active
        a
          color: $fontColor
    a
      padding: 10px
      color: $colorPrimary
      transition: .25s $ease
      &:hover
        color: $colorPrimaryHover

  &__text-section
    flex: 0 0 $col8
    max-width: $col8


+r($xl)
  .content
    margin: 72px 0 56px
    &__section
      margin: 48px 0
    &__sidebar
      display: none
    &__text-section
      flex-basis: 75%
      max-width: 75%
      margin-left: 12.5%
      margin-right: 12.5%

+r($lg)
  .content
    &__section
      padding-left: 16px
      padding-right: 16px
    &__section-tabs
      padding-left: 16px
      padding-right: 16px
    &__text-section
      flex-basis: 100%
      max-width: 100%
      margin-left: 0
      margin-right: 0
      padding-left: 26px
      padding-right: 26px

+r($md)
  .content
    margin: 48px 0 40px
    &__section
      margin: 40px 0
      padding-left: 4px
      padding-right: 4px
      &:first-child
        margin-top: 10px
    &__section-tabs
      display: none
    &__text-section
      padding-left: 14px
      padding-right: 14px
