mixin accardeonElement(element)
  // accardeon__element
  .accardeon__element
    .accardeon__toggler
      .accardeon__title
        .p-main= element.title
        +svgMono('arrow-down')
    .accardeon__content.accardeon__content--no-img
      each paragraph in element.text
        p.p-main.c-gray=paragraph

// CONTENT (legal)
.content
  .container.container--8
    // tabs
    ul.content__section-tabs.js-tabs
      li.is-active
        a.h3-title(href="#" data-target-tab="tab-1") For Subscribers
      li
        a.h3-title(href="#" data-target-tab="tab-2") For Traders

    // accardeon on mobile
    .accardeon.accardeon--tabs-md.accardeon--bg-white.js-accardeon
      .accardeon__element.is-active
        .accardeon__toggler
          .accardeon__title.c-primary
            .h4-title Для подписчиков
            +svgMono('arrow-down')
        .accardeon__content.accardeon__content--main(style="display: block")
          // tab content
          .js-tab-content(data-tab="tab-1" style="display: block")
            // section (1)
            .content__section(data-aos="fade-up")
              .content__section-title.h5-title Безопасность
              // accardeon
              .content__accardeon.accardeon.accardeon--bg-white.js-accardeon
                -
                  var list = [
                    {
                      title: "Рискую ли я потерять свои средства, подключившись к вашей платформе?",
                      text: ["Нет, ваши деньги остаются на вашем биржевом кошельке, ни трейдеры, ни наша платформа не имеют доступа к вашим средствам, вывод средств технически невозможен. После подключения auto-trading вы предоставляете доступ по API-ключам второго уровня — только повтор сделок, без возможности вывода."]
                    },
                    {
                      title: "Насколько я рискую, подписываясь на трейдера? Могу ли я всё потерять?",
                      text: ["Мы позаботились о том, чтобы в копитрейдинге на нашей платформе оставались только чистые трейдерские риски. В отличие от доверительного управления, в нашей системе трейдер настолько же рискует деньгами подписчика, насколько и своими."]
                    },
                  ]
                each element in list
                  +accardeonElement(element)

            // section (2)
            .content__section(data-aos="fade-up")
              .content__section-title.h5-title Подключение, выбор трейдера
              // accardeon
              .content__accardeon.accardeon.accardeon--bg-white.js-accardeon
                -
                  var list = [
                    {
                      title: "Какие биржи вы поддерживаете?",
                      text: ["Для копитрейдинга доступна возможность подключения аккаунтов Binance. В ближайших планах добавление Bittrex, BitMEX, Poloniex и других криптовалютных бирж."]
                    },
                    {
                      title: "Кто такие трейдеры?",
                      text: ["Трейдеры на платформе Coinmatics — это трейдеры с положительной динамикой доходности, которые предоставляют возможность другим людям подписываться на повтор их сигналов и зарабатывать на том же уровне."]
                    },
                    {
                      title: "Какие варианты копитрейдинга у вас есть?",
                      text: [
                        "Мы предоставляем два вида подписки: автотрейдинг и сигналы о сделках.",
                        "При подписке на автотрейдинг происходит привязка вашего биржевого кошелька к кошельку трейдера, и далее все сделки трейдера автоматически дублируются на вашем кошельке.",
                        "При подписке на сигналы вы получаете уведомления . Они содержат следующую информацию: имя трейдера, валютная пара, тип сделки (купля/продажа), цена, обмен. Далее, вы можете использовать эту информацию для самостоятельного трейдинга."]
                    },
                    {
                      title: "Как формируется рейтинг трейдерской эффективности",
                      text: ["Статистика формируется из соотношения количества совершённых операций за единицу времени, и суммой полученной прибыли. Трейдеры с наибольшим количеством успешных сделок находятся на более высоких позициях рейтинга и имеют больше шансов для привлечения подписчиков и увеличения дохода."]
                    },
                    {
                      title: "Как мне выбрать трейдера для копирования?",
                      text: [
                        "Выбирая трейдера для копирования, посмотрите на продолжительность его истории. Чем дольше торгует трейдер, тем проще оценить его стратегию и общую эффективность.",
                        "Далее:",
                        "-	Проанализируйте общую доходность публичного трейдера и прибыль за прошедший месяц. Трейдер должен быть в плюсе большую часть времени.",
                        "-	Оцените на графике максимальную просадку и прибыль на счетах, выраженную в % от депозита. Торгующие агрессивно имеют большие просадки, чем торгующие более осторожно. Но, как правило, риски увеличивают и уровень дохода.",
                        "-	Изучите поведение кривой депозита в моменты пика волатильности основной валюты трейдера (см.вкладку “Распределение активов”).",
                        "-	При выборе трейдера стоит ориентироваться как на заявленную в описании стратегию, так и на реальные показатели доходности."]
                    },
                  ]
                each element in list
                  +accardeonElement(element)

            // section (3)
            .content__section(data-aos="fade-up")
              .content__section-title.h5-title Вопросы по оплате
              // accardeon
              .content__accardeon.accardeon.accardeon--bg-white.js-accardeon
                -
                  var list = [
                    {
                      title: "Какую сумму нужно иметь на биржевом кошельке для начала копитрейдинга?",
                      text: ["Мы предлагаем иметь на биржевом кошельке около 300-500 долларов в BTC для корректного повтора сделок."]
                    },
                    {
                      title: "Как рассчитывается комиссия?",
                      text: ["Пользовательской комиссией является процент от полученной прибыли за расчётный период. В случае, если общий показатель копирования за расчётный период оказывается убыточным, комиссия не взимается."]
                    },
                    {
                      title: "Как происходит оплата за подписки?",
                      text: ["Для оплаты подписок мы сделали внутренний кошелёк. При подписке на получение уведомлений с информацией о транзакциях подписчик соглашается на оплату абонентской платы. Доступные периоды подписок: 1 месяц, 3 месяца, 6 месяцев. Абонентский период выбирается подписчиком. Оплата за подписку происходит сразу. Цена за подписку устанавливается трейдером."]
                    },
                    {
                      title: "С какой регулярностью происходит оплата?",
                      text: ["При подписке на ручное следование снятие денежных средств происходит в соответствии с выбранным абонентским периодом, при подписке на автотрейдинг — раз в 7, 30 или 90 дней, на усмотрение трейдера."]
                    },
                    {
                      title: "Может ли измениться цена уже существующей подписки?",
                      text: ["В случае, если трейдер меняет цену за подписку, для уже подписавшихся цена останется прежней. Вы всегда платите столько, сколько было установлено на момент вашего подключения."]
                    },
                    {
                      title: "Есть ли какая-то дополнительная (абонентская) плата за копитрейдинг?",
                      text: ["Нет, на нашей платформе существует только периодическая оплата за положительные результаты копирования."]
                    },
                    {
                      title: "Как я могу отменить подписку? Что для этого нужно сделать?",
                      text: ["Вы можете отменить подписку в любой момент. Для этого пройдите в раздел “Провайдеры сигналов”, найдите трейдера, на которого вы подписались, и переведите флажок подписки в неактивное состояние."]
                    },
                    {
                      title: "Может ли трейдер закрыть доступ к повторению его сделок?",
                      text: ["Да, трейдер может закрыть доступ к API-ключам на своём биржевом аккаунте. В этом случае повтор сделок прекратится и вы получите уведомление на свою почту."]
                    },
                  ]
                each element in list
                  +accardeonElement(element)

            // section (4)
            .content__section(data-aos="fade-up")
              .content__section-title.h5-title Технические и прочие вопросы
              // accardeon
              .content__accardeon.accardeon.accardeon--bg-white.js-accardeon
                -
                  var list = [
                    {
                      title: "Что такое автовыравнивание? Зачем оно нужно и как работает?",
                      text: ["Автовыравнивание происходит сразу после подключения на повтор сделок. Автовыравнивание — это синхронизация распределения активов на вашем биржевом кошельке и кошельке трейдера. Это процедура позволяет максимизировать процент успешно скопированных сделок и таким образом увеличить точность повтора стратегии трейдера. При необходимости синхронизация может быть повторена. "]
                    },
                    {
                      title: "С какой скоростью совершается повтор сделок?",
                      text: ["Повтор сделок совершается без задержек, с технически минимальной скоростью (не более 0,1 секунды)."]
                    },
                    {
                      title: "Я научился торговать и сам хочу стать трейдером. Что для этого нужно сделать?",
                      text: ["Если вы начали торговать и у вас доходная торговая стратегия, вы также можете добавиться в наш рейтинг, пройдя процедуру регистрации."]
                    },
                    {
                      title: "Могу ли я сначала подписаться на трейдера, а потом сам зарегистрироваться как трейдер и раздавать сигналы этого трейдера?",
                      text: [
                        "Нет, такие действия на нашей платформе запрещены. Дублирующие аккаунты определяются системой и блокируются."]
                    },
                  ]
                each element in list
                  +accardeonElement(element)

            // section (5)
            .content__section(data-aos="fade-up")
              .content__section-title.h5-title Остались вопросы? Напишите нам, и мы ответим в ближайшее время.

      // accardeon element
      .accardeon__element
        .accardeon__toggler
          .accardeon__title.c-primary
            .h4-title Для трейдеров
            +svgMono('arrow-down')
        .accardeon__content.accardeon__content--main

          // tab content
          .js-tab-content(data-tab="tab-2")
            // section (1)
            .content__section(data-aos="fade-up")
              .content__section-title.h5-title Безопасность
              // accardeon
              .content__accardeon.accardeon.accardeon--bg-white.js-accardeon
                -
                  var list = [
                    {
                      title: "Могу ли я каким-то образом потерять свои деньги, подключившись к вашей платформе?",
                      text: ["Нет, ваши деньги остаются на вашем биржевом кошельке, наша платформа не имеет доступа к вашим средствам. Добавление трейдера в систему происходит по API-ключам второго уровня — только повтор сделок, без возможности вывода."]
                    }
                  ]
                each element in list
                  +accardeonElement(element)

            // section (2)
            .content__section(data-aos="fade-up")
              .content__section-title.h5-title Подключение и добавление в рейтинг
              // accardeon
              .content__accardeon.accardeon.accardeon--bg-white.js-accardeon
                -
                  var list = [
                    {
                      title: "Какие биржи вы поддерживаете?",
                      text: ["Для копитрейдинга доступна возможность подключения аккаунтов с биржи Binance. В ближайших планах добавление Bittrex, BitMEX, Poloniex и других криптовалютных бирж."]
                    },
                    {
                      title: "Я опытный трейдер. Моя история торгов на бирже будет учитываться?",
                      text: ["Да, после подключения к нашей системы мы подгрузим вашу текущую трейдерскую историю, вам не придётся создавать свой рейтинг с нуля."]
                    },
                    {
                      title: "Как мне узнать, насколько хорошо я торгую? Можно ли узнать это до публикации в рейтинге?",
                      text: ["После добавления биржевого аккаунта будет сформирована статистика вашей трейдерской эффективности. После этого вы сами решаете, добавляться ли вам в открытый рейтинг, или оставить ваше портфолио доступным только для личного пользования."]
                    },
                    {
                      title: "Какие варианты подписок у вас есть?",
                      text: [
                        "Мы предоставляем два вида подписки: телеграм-сигналы и автотрейдинг.",
                        "При подписке на сигналы подписчик получает уведомления о сделках трейдера. Они содержат следующую информацию: имя трейдера, валютная пара, тип сделки (купля/продажа), цена, результат. Далее, подписчик может использовать эту информацию для самостоятельного трейдинга.",
                        "При подписке на автотрейдинг происходит привязка биржевого кошелька подписчика к кошельку трейдера, далее все сделки дублируются."
                      ]
                    },
                    {
                      title: "Я решил добавиться в ваш рейтинг. Что дальше?",
                      text: ["После оформления заявки и прохождения модерации, ваша трейдерская история попадает в общий рейтинг трейдеров и занимает в нём место, соответствующее вашей текущей эффективности относительно других трейдеров рейтинга. Далее, вы продолжаете торговать, приобретая подписчиков, число которых зависит от вашего места в рейтинге."]
                    },
                    {
                      title: "Как формируется рейтинг трейдерской эффективности?",
                      text: ["Статистика основана на корреляции между количеством завершенных операций и суммой прибыли, полученной за единицу времени, результаты которой отображены на графиках в разделе “Провайдеры сигналов”. Трейдеры с наибольшим количеством успешных сделок находятся на более высоких позициях и имеют больше шансов для привлечения подписчиков."]
                    }
                  ]
                each element in list
                  +accardeonElement(element)

            // section (3)
            .content__section(data-aos="fade-up")
              .content__section-title.h5-title Цена и оплата
              // accardeon
              .content__accardeon.accardeon.accardeon--bg-white.js-accardeon
                -
                  var list = [
                    {
                      title: "Как рассчитывается комиссия?",
                      text: [
                        "Рассчитывается результат скопированных сделок за торговый период. Процент от сформированного дохода платится трейдеру. В случае отрицательного результата по периоду комиссия не взимается.",
                        "Размер платы за ручное следование и комиссия за автотрейдинг устанавливается трейдером."
                      ]
                    },
                    {
                      title: "Как происходит оплата за подписки?",
                      text: ["Для оплаты подписок мы сделали внутренний кошелёк. Поступление средств за ручное следование происходит раз в месяц, зачисление комиссионных за автотрейдинг — раз в 7, 30 или 90 дней, на усмотрение трейдера. Далее, трейдер может вывести заработанные деньги на свой счёт."]
                    },
                    {
                      title: "Могу ли я менять цену подписки?",
                      text: ["Да, вы можете в любой момент изменить как цену за ручное следование, так и комиссионный процент по автотрейдингу. Важно: цена для текущих подписчиков остаётся прежней."]
                    },
                    {
                      title: "Насколько выгодно быть тредйером на вашей платформе?",
                      text: ["Если вы торгуете в плюс и ваша стратегия приносит вам стабильный доход, после подключения вы будете увеличивать свою доходность с каждым новым подписчиком. Копитрейдинг осуществляется на пропорциональном принципе, что потенциально позволяет иметь доход с подписок, многократно превышающий доход непосредственно от трейдинга. И главное, всё это происходит без каких-либо дополнительных действий с вашей стороны, ваш доход возрастает без роста усилий."]
                    },
                  ]
                each element in list
                  +accardeonElement(element)

            // section (4)
            .content__section(data-aos="fade-up")
              .content__section-title.h5-title Технические и прочие вопросы
              // accardeon
              .content__accardeon.accardeon.accardeon--bg-white.js-accardeon
                -
                  var list = [
                    {
                      title: "Что такое автовыравнивание? Зачем оно нужно и как работает?",
                      text: ["Автовыравнивание происходит сразу после подключения на повтор сделок. Автовыравнивание — это синхронизация распределения активов на вашем биржевом кошельке и кошельке трейдера. Эта процедура позволяет максимизировать процент успешно скопированных сделок и таким образом увеличить точность повтора стратегии трейдера. При необходимости синхронизация может быть повторена."]
                    },
                    {
                      title: "С какой скоростью совершается повтор сделок?",
                      text: ["Скорость повтора сделок технически минимальная и составляет не более 0,1 секунды."]
                    },
                    {
                      title: "Может ли мой аккаунт быть удалён с платформы?",
                      text: ["Ваш аккаунт может быть заблокирован в случае нарушения Правил пользования нашей платформой."]
                    },
                  ]
                each element in list
                  +accardeonElement(element)

            // section (5)
            .content__section(data-aos="fade-up")
              .content__section-title.h5-title Остались вопросы? Напишите нам, и мы ответим в ближайшее время.
