// CONTENT (legal)
.content
  .container
    .content__wrapper
      .content__sidebar
        .content__sidebar-wrapper.js-sticky(data-offset-top="80" data-stop-watching="<1200")
          // tabs
          ul.content__sidebar-tabs.js-tabs(data-with-scrolltop="true" data-scroll-offset="80")
            li.is-active
              a.h5-title(href="#" data-target-tab="tab-1") Terms and Conditions
            li
              a.h5-title(href="#" data-target-tab="tab-2") Disclaimer (Risk disclosure)
            //- li
            //-   a.h5-title(href="#" data-target-tab="tab-3") Cookie Policy
            li
              a.h5-title(href="#" data-target-tab="tab-4") Privacy Policy

      .content__text-section
        // accardeon on mobile
        .accardeon.accardeon--tabs-xl.accardeon--bg-white.js-accardeon
          .accardeon__element.is-active
            .accardeon__toggler
              .accardeon__title.c-primary
                .h6-title Terms and Conditions
                +svgMono('arrow-down')
            .accardeon__content.accardeon__content--main(style="display: block")
              // tab content
              .js-tab-content(data-tab="tab-1" style="display: block")
                .wysiwyg(data-aos="fade-up")
                  h2 Terms and conditions of use

                  h4 1.	Introduction
                  p 1.1	These terms and conditions shall govern your use of our website.
                  p 1.2	By using our website, you accept these terms and conditions in full; accordingly, if you disagree with these terms and conditions or any part of these terms and conditions, you must not use our website.
                  p 1.3	If you register with our website, submit any material to our website or use any of our website services, we will ask you to expressly agree to these terms and conditions.
                  p 1.4	You must be at least 18 years of age to use our website; by using our website or agreeing to these terms and conditions, you warrant and represent to us that you are at least 18 years of age.
                  p 1.5	Our website uses cookies; by using our website or agreeing to these terms and conditions, you consent to our use of cookies in accordance with the terms of our privacy and cookies policy.

                  h4 2.	Copyright notice
                  p 2.1	Copyright (c) 2020, Coinmatics
                  p 2.2	Subject to the express provisions of these terms and conditions:
                    br
                    |  - (a)	we, together with our licensors, own and control all the copyright and other intellectual property rights in our website and the material on our website; and
                    br
                    |  - (b)	all the copyright and other intellectual property rights in our website and the material on our website are reserved.

                  h4 3.	Licence to use website
                  p 3.1	You may:
                    br
                    |  - (a)	view pages from our website in a web browser;
                    br
                    |  - (b)	download pages from our website for caching in a web browser;
                    br
                    |  - (c)	print pages from our website;
                    br
                    |  - (d)	use our website services by means of a web browser;
                  p 3.2	Except as expressly permitted by Section 3.1 or the other provisions of these terms and conditions, you must not download any material from our website or save any such material to your computer.
                  p 3.3	You may only use our website for your own personal and business purposes, and you must not use our website for any other purposes.
                  p 3.4	Except as expressly permitted by these terms and conditions, you must not edit or otherwise modify any material on our website.
                  p 3.5	Unless you own or control the relevant rights in the material, you must not:
                    br
                    |  - (a)	republish material from our website (including republication on another website);
                    br
                    |  - (b)	sell, rent or sub-license material from our website;
                    br
                    |  - (c)	show any material from our website in public;
                    br
                    |  - (d)	exploit material from our website for a commercial purpose; or
                    br
                    |  - (e)	redistribute material from our website.
                  p 3.6	We reserve the right to restrict access to areas of our website, or indeed our whole website, at our discretion; you must not circumvent or bypass, or attempt to circumvent or bypass, any access restriction measures on our website.

                  h4 4.	Acceptable use
                  p 4.1	You must not:
                    br
                    |  - (a)	use our website in any way or take any action that causes, or may cause, damage to the website or impairment of the performance, availability or accessibility of the website;
                    br
                    |  - (b)	use our website in any way that is unlawful, illegal, fraudulent or harmful, or in connection with any unlawful, illegal, fraudulent or harmful purpose or activity;
                    br
                    |  - (c)	use our website to copy, store, host, transmit, send, use, publish or distribute any material which consists of (or is linked to) any spyware, computer virus, Trojan horse, worm, keystroke logger, rootkit or other malicious computer software;
                    br
                    |  - (d)	conduct any systematic or automated data collection activities (including without limitation scraping, data mining, data extraction and data harvesting) on or in relation to our website without our express written consent;
                    br
                    |  - (e)	access or otherwise interact with our website using any robot, spider or other automated means;
                    br
                    |  - (f)	violate the directives set out in the robots.txt file for our website; or
                    br
                    |  - (g)	use data collected from our website for any direct marketing activity (including without limitation email marketing, SMS marketing, telemarketing and direct mailing).
                  p 4.2	You must not use data collected from our website to contact individuals, companies or other persons or entities.

                  h4 5.	Registration and accounts
                  p 5.1	To be eligible for an account on our website under this Section 5, you must be at least 18 years old.
                  p 5.2	You may register for an account with our website by completing and submitting the account registration form on our website, and clicking on the verification link in the email that the website will send to you.
                  p 5.3	You must not allow any other person to use your account to access the website.
                  p 5.4	You must notify us in writing immediately if you become aware of any unauthorised use of your account.
                  p 5.5	You must not use any other person's account to access the website.

                  h4 6.	User login details
                  p 6.1	If you register for an account with our website, you will be asked to choose a password.
                  p 6.2	Your user ID must not be liable to mislead and must comply with the content rules set out in Section 10; you must not use your account or user ID for or in connection with the impersonation of any person.
                  p 6.3	You must keep your password confidential.
                  p 6.4	You must notify us in writing immediately if you become aware of any disclosure of your password.
                  p 6.5	You are responsible for any activity on our website arising out of any failure to keep your password confidential, and may be held liable for any losses arising out of such a failure.

                  h4 7.	Cancellation and suspension of account
                  p 7.1	We may:
                    br
                    |  - (a)	suspend your account;
                    br
                    |  - (b)	cancel your account; and/or
                    br
                    |  - (c)	edit your account details,
                    br
                    | at any time in our sole discretion without notice or explanation.
                  p 7.2	You may cancel your account on our website by contacting support.

                  h4 8.	Your content: licence
                  p 8.1	In these terms and conditions, "your content" means all works and materials (including without limitation text, graphics, images, audio material, video material, audio-visual material, scripts, software and files) that you submit to us or our website for storage or publication on, processing by, or transmission via, our website.
                  p 8.2	You grant to us a worldwide, irrevocable, non-exclusive, royalty-free licence to use, reproduce, store, adapt, publish, translate and distribute your content in any existing or future media.
                  p 8.3	You grant to us the right to sub-license the rights licensed under Section 8.2.
                  p 8.4	You grant to us the right to bring an action for infringement of the rights licensed under Section 8.2.
                  p 8.5	You hereby waive all your moral rights in your content to the maximum extent permitted by applicable law; and you warrant and represent that all other moral rights in your content have been waived to the maximum extent permitted by applicable law.
                  p 8.6	You may edit your content to the extent permitted using the editing functionality made available on our website.
                  p 8.7	Without prejudice to our other rights under these terms and conditions, if you breach any provision of these terms and conditions in any way, or if we reasonably suspect that you have breached these terms and conditions in any way, we may delete, unpublish or edit any or all of your content.

                  h4 9.	Your content: rules
                  p 9.1	You warrant and represent that your content will comply with these terms and conditions.
                  p 9.2	Your content must not be illegal or unlawful, must not infringe any person's legal rights, and must not be capable of giving rise to legal action against any person (in each case in any jurisdiction and under any applicable law).
                  p 9.3	Your content, and the use of your content by us in accordance with these terms and conditions, must not:
                    br
                    |  - (a)	be libellous or maliciously false;
                    br
                    |  - (b)	be obscene or indecent;
                    br
                    |  - (c)	infringe any copyright, moral right, database right, trade mark right, design right, right in passing off, or other intellectual property right;
                    br
                    |  - (d)	infringe any right of confidence, right of privacy or right under data protection legislation;
                    br
                    |  - (e)	constitute negligent advice or contain any negligent statement;
                    br
                    |  - (f)	constitute an incitement to commit a crime, instructions for the commission of a crime or the promotion of criminal activity;
                    br
                    |  - (g)	be in contempt of any court, or in breach of any court order;
                    br
                    |  - (h)	be in breach of racial or religious hatred or discrimination legislation;
                    br
                    |  - (i)	be blasphemous;
                    br
                    |  - (j)	be in breach of official secrets legislation;
                    br
                    |  - (k)	be in breach of any contractual obligation owed to any person;
                    br
                    |  - (l)	constitute spam;
                    br
                    |  - (m)	be offensive, deceptive, fraudulent, threatening, abusive, harassing, anti-social, menacing, hateful, discriminatory or inflammatory; or
                    br
                    |  - (n)	cause annoyance, inconvenience or needless anxiety to any person.

                  h4 10.	Limited warranties
                  p 10.1	We do not warrant or represent:
                    br
                    |  - (a)	the completeness or accuracy of the information published on our website;
                    br
                    |  - (b)	that the material on the website is up to date; or
                    br
                    |  - (c)	that the website or any service on the website will remain available.
                  p 10.2	We reserve the right to discontinue or alter any or all of our website services, and to stop publishing our website, at any time in our sole discretion without notice or explanation; and save to the extent expressly provided otherwise in these terms and conditions, you will not be entitled to any compensation or other payment upon the discontinuance or alteration of any website services, or if we stop publishing the website.
                  p 10.3	To the maximum extent permitted by applicable law and subject to Section 12.1, we exclude all representations and warranties relating to the subject matter of these terms and conditions, our website and the use of our website.

                  h4 11.	Limitations and exclusions of liability
                  p 11.1	Nothing in these terms and conditions will:
                    br
                    |  - (a)	limit or exclude any liability for death or personal injury resulting from negligence;
                    br
                    |  - (b)	limit or exclude any liability for fraud or fraudulent misrepresentation;
                    br
                    |  - (c)	limit any liabilities in any way that is not permitted under applicable law; or
                    br
                    |  - (d)	exclude any liabilities that may not be excluded under applicable law.
                  p 11.2	The limitations and exclusions of liability set out in this Section 11 and elsewhere in these terms and conditions:
                    br
                    |  - (a)	are subject to Section 11.1; and
                    br
                    |  - (b)	govern all liabilities arising under these terms and conditions or relating to the subject matter of these terms and conditions, including liabilities arising in contract, in tort (including negligence) and for breach of statutory duty, except to the extent expressly provided otherwise in these terms and conditions.
                  p 11.3	To the extent that our website and the information and services on our website are provided free of charge, we will not be liable for any loss or damage of any nature.
                  p 11.4	We will not be liable to you in respect of any losses arising out of any event or events beyond our reasonable control.
                  p 11.5	We will not be liable to you in respect of any business losses, including (without limitation) loss of or damage to profits, income, revenue, use, production, anticipated savings, business, contracts, commercial opportunities or goodwill.
                  p 11.6	We will not be liable to you in respect of any loss or corruption of any data, database or software.
                  p 11.7	We will not be liable to you in respect of any special, indirect or consequential loss or damage.
                  p 11.8	You accept that we have an interest in limiting the personal liability of our officers and employees and, having regard to that interest, you acknowledge that we are a limited liability entity; you agree that you will not bring any claim personally against our officers or employees in respect of any losses you suffer in connection with the website or these terms and conditions (this will not, of course, limit or exclude the liability of the limited liability entity itself for the acts and omissions of our officers and employees).

                  h4 12.	Breaches of these terms and conditions
                  p 12.1	Without prejudice to our other rights under these terms and conditions, if you breach these terms and conditions in any way, or if we reasonably suspect that you have breached these terms and conditions in any way, we may:
                    br
                    |  - (a)	send you one or more formal warnings;
                    br
                    |  - (b)	temporarily suspend your access to our website;
                    br
                    |  - (c)	permanently prohibit you from accessing our website;
                    br
                    |  - (d)	contact any or all of your internet service providers and request that they block your access to our website;
                    br
                    |  - (e)	commence legal action against you, whether for breach of contract or otherwise; and/or
                    br
                    |  - (f)	suspend or delete your account on our website.
                  p 12.2	Where we suspend or prohibit or block your access to our website or a part of our website, you must not take any action to circumvent such suspension or prohibition or blocking (including without limitation creating and/or using a different account).

                  h4 13.	Variation
                  p 13.1	We may revise these terms and conditions from time to time.
                  p 13.2	The revised terms and conditions shall apply to the use of our website from the date of publication of the revised terms and conditions on the website, and you hereby waive any right you may otherwise have to be notified of, or to consent to, revisions of these terms and conditions.
                  p 13.3	If you have given your express agreement to these terms and conditions, we will ask for your express agreement to any revision of these terms and conditions; and if you do not give your express agreement to the revised terms and conditions within such period as we may specify, we will disable or delete your account on the website, and you must stop using the website.

                  h4 14.	Assignment
                  p 14.1	You hereby agree that we may assign, transfer, sub-contract or otherwise deal with our rights and/or obligations under these terms and conditions.
                  p 14.2	You may not without our prior written consent assign, transfer, sub-contract or otherwise deal with any of your rights and/or obligations under these terms and conditions.

                  h4 15.	Severability
                  p 15.1	If a provision of these terms and conditions is determined by any court or other competent authority to be unlawful and/or unenforceable, the other provisions will continue in effect.
                  p 15.2	If any unlawful and/or unenforceable provision of these terms and conditions would be lawful or enforceable if part of it were deleted, that part will be deemed to be deleted, and the rest of the provision will continue in effect.

                  h4 16.	Third party rights
                  p 16.1	A contract under these terms and conditions is for our benefit and your benefit, and is not intended to benefit or be enforceable by any third party.
                  p 16.2	The exercise of the parties' rights under a contract under these terms and conditions is not subject to the consent of any third party.

                  h4 17.	Entire agreement
                  p 17.1	Subject to Section 12.1, these terms and conditions, together with our privacy and cookies policy, shall constitute the entire agreement between you and us in relation to your use of our website and shall supersede all previous agreements between you and us in relation to your use of our website.

                  h4 18.	Law and jurisdiction
                  p 18.1	These terms and conditions shall be governed by and construed in accordance with Belarusian law.
                  p 18.2	Any disputes relating to these terms and conditions shall be subject to the non-exclusive jurisdiction of the courts of Republic of Belarus.


          // accardeon element
          .accardeon__element
            .accardeon__toggler
              .accardeon__title.c-primary
                .h6-title Disclaimer (Risk disclosure)
                +svgMono('arrow-down')
            .accardeon__content.accardeon__content--main
              // tab content
              .js-tab-content(data-tab="tab-2")
                .wysiwyg
                  h2 Отказ от ответственности (раскрытие информации о рисках)
                  p 1.	Coinmatics предоставляет определенный набор услуг. Ни одна из этих услуг не является профессиональной финансовой, инвестиционной, юридической консультацией либо консультацией иного рода, требующей лицензии для оказания услуг.
                  p 2.	Coinmatics не выступает как брокер, финансовый советник, инвестиционный советник и т.п.
                  p 3.	Любая торговая операция на бирже, включая операции копитрейдинга, подразумевает финансовый риск. Предыдущие успешные торговые операции трейдеров не гарантируют успешность будущих операций.
                  p 4.	Coinmatics – это сервис по оказанию услуг который позволяет пользователям получать доступ к трейдерам, копитрейдерам и криптобиржам. Услуги предоставляются на основании «как есть». Услуги предоставляются без каких-либо гарантий, включая но не ограничиваясь гарантиями товарного состояния, пригодности для определенной цели, ненарушения или хода выполнения услуг.
                  p 5.	Coinmatics не несет ответственности за финансовые потери, возникшие в результате покупки либо продажи криптовалют на биржах. Все финансовые риски подобных торговых операций ложатся непосредственно на участника торгов.

          //- // accardeon element
          //- .accardeon__element
          //-   .accardeon__toggler
          //-     .accardeon__title.c-primary
          //-       .h6-title Cookie Policy
          //-       +svgMono('arrow-down')
          //-   .accardeon__content.accardeon__content--main
          //-     // tab content
          //-     .js-tab-content(data-tab="tab-3")
          //-       .wysiwyg
          //-         h2 Cookie Policy
          //-         h4 Определение Пользовательского соглашения

          //-         p Пожалуйста, внимательно прочитайте условия Пользовательского Соглашения (далее “Соглашение”) до прохождения регистрации.
          //-         p Данное Соглашение является публичной офертой. Ваше использование Сайта и любых сервисов и услуг компании Coinmatics (далее — “Coinmatics”) означает ваше полное и безоговорочное согласие с правилами, изложенными в этом Соглашении.
          //-         p Настоящее Соглашение заключается между вами и Coinmatics, и регулирует ваше использование Платформы, Сайта, программного обеспечения, а также все предоставляемые Coinmatics приложения, сервисы и другие материалы и услуги.
          //-         p Настоящее Соглашение и Политика конфиденциальности составляют единственное и полное соглашение между вами и Coinmatics, и заменяют собой все иные договорённости, соглашения, заявления и гарантии, как письменные, так и устные, в отношении всех предоставляемых Coinmatics услуг.

          // accardeon element
          .accardeon__element
            .accardeon__toggler
              .accardeon__title.c-primary
                .h6-title Privacy Policy
                +svgMono('arrow-down')
            .accardeon__content.accardeon__content--main
              // tab content
              .js-tab-content(data-tab="tab-4")
                .wysiwyg
                  h2 Privacy Policy

                  h4 1.	Introduction
                  p 1.1	We are committed to safeguarding the privacy of our website visitors and service users.
                  p 1.2	This policy applies where we are acting as a data controller with respect to the personal data of our website visitors and service users; in other words, where we determine the purposes and means of the processing of that personal data.
                  p 1.3	We use cookies on our website. Insofar as those cookies are not strictly necessary for the provision of our website and services, we will ask you to consent to our use of cookies when you first visit our website.
                  p 1.4	In this policy, "we", "us" and "our" refer to Coinmatics. For more information about us, see Section 13.

                  h4 2.	How we use your personal data
                  p 2.1	In this Section 2 we have set out:
                    br
                    |  - (a)	the general categories of personal data that we may process;
                    br
                    |  - (b)	the purposes for which we may process personal data; and
                    br
                    |  - (c)	the legal bases of the processing.
                  p 2.2	We may process data about your use of our website and services ("usage data"). The usage data may include your IP address, geographical location, browser type and version, operating system, referral source, length of visit, page views and website navigation paths, as well as information about the timing, frequency and pattern of your service use. The source of the usage data is our analytics tracking system. This usage data may be processed for the purposes of analysing the use of the website and services. The legal basis for this processing is consent our legitimate interests, namely monitoring and improving our website and services.
                  p 2.3	We may process your account data ("account data"). The account data may include your nickname and email address. The source of the account data is you. The account data may be processed for the purposes of operating our website, providing our services, ensuring the security of our website and services, maintaining back-ups of our databases and communicating with you. The legal basis for this processing is our legitimate interests, namely the the performance of an agreement between you and us and/or taking steps, at your request, to enter into such an agreements.
                  p 2.4	We may process your information included in your personal profile on our website ("profile data"). The profile data may include your nickname, email address. The profile data may be processed for the purposes of enabling and monitoring your use of our website and services. The legal basis for this processing is our legitimate interests, namely the performance of an agreement between you and us and/or taking steps, at you request, to enter into such an agreement.
                  p 2.5	We may process information contained in any enquiry you submit to us regarding goods and/or services ("enquiry data"). The enquiry data may be processed for the purposes of offering, marketing and selling relevant goods and/or services to you. The legal basis for this processing is consent.
                  p 2.6	We may process information relating to our customer relationships, including customer contact information ("customer relationship data"). The customer relationship data may include your nickname, your contact details, and information contained in communications between us and you. The source of the customer relationship data is you. The customer relationship data may be processed for the purposes of managing our relationships with customers, communicating with customers, keeping records of those communications and promoting our products and services to customers. The legal basis for this processing is our legitimate interests, namely the proper management of our customer relationships.
                  p 2.7	We may process information relating to transactions, including purchases of goods and services, that you enter into with us and/or through our website ("transaction data"). The transaction data may include your contact details and the transaction details. The transaction data may be processed for the purpose of supplying the purchased goods and services and keeping proper records of those transactions. The legal basis for this processing is the performance of a contract between you and us and/or taking steps, at your request, to enter into such a contract and our legitimate interests, namely the proper administration of our website and business.
                  p 2.8	We may process information contained in or relating to any communication that you send to us ("correspondence data"). The correspondence data may include the communication content and metadata associated with the communication. Our website will generate the metadata associated with communications made using the website contact forms. The correspondence data may be processed for the purposes of communicating with you and record-keeping. The legal basis for this processing is our legitimate interests, namely the proper administration of our website and business and communications with users.
                  p 2.9	We may process your crypto currency exchange transactions information ("trading data"). This data may include openings and closures and other details of your deals on crypto currency exchange markets. The source of this data is your accounts on crypto currency exchange platforms which you shared with us deliberately. This data may be processed for the purposes of providing relevant goods and/or services to you. The legal basis for this processing is the performance of a contract between you and us and/or taking steps, at your request, to enter into such a contract.
                  p 2.10	We may process any of your personal data identified in this policy where necessary for the establishment, exercise or defence of legal claims, whether in court proceedings or in an administrative or out-of-court procedure. The legal basis for this processing is our legitimate interests, namely the protection and assertion of our legal rights, your legal rights and the legal rights of others.
                  p 2.11	We may process any of your personal data identified in this policy where necessary for the purposes of obtaining or maintaining insurance coverage, managing risks, or obtaining professional advice. The legal basis for this processing is our legitimate interests, namely the proper protection of our business against risks.
                  p 2.12	In addition to the specific purposes for which we may process your personal data set out in this Section 2, we may also process any of your personal data where such processing is necessary for compliance with a legal obligation to which we are subject, or in order to protect your vital interests or the vital interests of another natural person.
                  p 2.13	Please do not supply any other person's personal data to us, unless we prompt you to do so.

                  h4 3.	Providing your personal data to others
                  p 3.1	We may disclose your personal data to any member of our group of companies (this means our subsidiaries, our ultimate holding company and all its subsidiaries) insofar as reasonably necessary for the purposes, and on the legal bases, set out in this policy.
                  p 3.2	We may disclose your personal data to our insurers and/or professional advisers insofar as reasonably necessary for the purposes of obtaining or maintaining insurance coverage, managing risks, obtaining professional advice, or the establishment, exercise or defence of legal claims, whether in court proceedings or in an administrative or out-of-court procedure.
                  p 3.3	We may disclose your trading data to our users insofar as reasonably necessary for fulfilling our obligations as per an agreement with our users. The legal basis for this disclosure is the performance of a contract between you and us and/or taking steps, at your request, to enter into such a contract.
                  p 3.4	Financial transactions relating to our website and services are handled by our payment services providers. We will share transaction data with our payment services providers only to the extent necessary for the purposes of processing your payments, refunding such payments and dealing with complaints and queries relating to such payments and refunds.
                  p 3.5	In addition to the specific disclosures of personal data set out in this Section 3, we may disclose your personal data where such disclosure is necessary for compliance with a legal obligation to which we are subject, or in order to protect your vital interests or the vital interests of another natural person. We may also disclose your personal data where such disclosure is necessary for the establishment, exercise or defence of legal claims, whether in court proceedings or in an administrative or out-of-court procedure.

                  h4 4.	Retaining and deleting personal data
                  p 4.1	This Section 6 sets out our data retention policies and procedure, which are designed to help ensure that we comply with our legal obligations in relation to the retention and deletion of personal data.
                  p 4.2	Personal data that we process for any purpose or purposes shall not be kept for longer than is necessary for that purpose or those purposes.
                  p 4.3	Notwithstanding the other provisions of this Section 4, we may retain your personal data where such retention is necessary for compliance with a legal obligation to which we are subject, or in order to protect your vital interests or the vital interests of another natural person.

                  h4 5.	Amendments
                  p 5.1	We may update this policy from time to time by publishing a new version on our website.
                  p 5.2	You should check this page occasionally to ensure you are happy with any changes to this policy.

                  h4 6.	Your rights
                  p 6.1	In this Section 6, we have summarised the rights that you have under data protection law. Some of the rights are complex, and not all of the details have been included in our summaries. Accordingly, you should read the relevant laws and guidance from the regulatory authorities for a full explanation of these rights.
                  p 6.2	Your principal rights under data protection law are:
                    br
                    |  - (a)	the right to access;
                    br
                    |  - (b)	the right to rectification;
                    br
                    |  - (c)	the right to erasure;
                    br
                    |  - (d)	the right to restrict processing;
                    br
                    |  - (e)	the right to object to processing;
                    br
                    |  - (f)	the right to data portability;
                    br
                    |  - (g)	the right to complain to a supervisory authority; and
                    br
                    |  - (h)	the right to withdraw consent.
                  p 6.3	You have the right to confirmation as to whether or not we process your personal data and, where we do, access to the personal data, together with certain additional information. That additional information includes details of the purposes of the processing, the categories of personal data concerned and the recipients of the personal data. Providing the rights and freedoms of others are not affected, we will supply to you a copy of your personal data. The first copy will be provided free of charge, but additional copies may be subject to a reasonable fee. You can access your personal data when logged into our website.
                  p 6.4	You have the right to have any inaccurate personal data about you rectified and, taking into account the purposes of the processing, to have any incomplete personal data about you completed.
                  p 6.5	In some circumstances you have the right to the erasure of your personal data without undue delay. Those circumstances include: the personal data are no longer necessary in relation to the purposes for which they were collected or otherwise processed; you withdraw consent to consent-based processing; you object to the processing under certain rules of applicable data protection law; the processing is for direct marketing purposes; and the personal data have been unlawfully processed. However, there are exclusions of the right to erasure. The general exclusions include where processing is necessary: for exercising the right of freedom of expression and information; for compliance with a legal obligation; or for the establishment, exercise or defence of legal claims.
                  p 6.6	In some circumstances you have the right to restrict the processing of your personal data. Those circumstances are: you contest the accuracy of the personal data; processing is unlawful but you oppose erasure; we no longer need the personal data for the purposes of our processing, but you require personal data for the establishment, exercise or defence of legal claims; and you have objected to processing, pending the verification of that objection. Where processing has been restricted on this basis, we may continue to store your personal data. However, we will only otherwise process it: with your consent; for the establishment, exercise or defence of legal claims; for the protection of the rights of another natural or legal person; or for reasons of important public interest.
                  p 6.7	You have the right to object to our processing of your personal data on grounds relating to your particular situation, but only to the extent that the legal basis for the processing is that the processing is necessary for: the performance of a task carried out in the public interest or in the exercise of any official authority vested in us; or the purposes of the legitimate interests pursued by us or by a third party. If you make such an objection, we will cease to process the personal information unless we can demonstrate compelling legitimate grounds for the processing which override your interests, rights and freedoms, or the processing is for the establishment, exercise or defence of legal claims.
                  p 6.8	You have the right to object to our processing of your personal data for direct marketing purposes (including profiling for direct marketing purposes). If you make such an objection, we will cease to process your personal data for this purpose.
                  p 6.9	You have the right to object to our processing of your personal data for scientific or historical research purposes or statistical purposes on grounds relating to your particular situation, unless the processing is necessary for the performance of a task carried out for reasons of public interest.
                  p 6.10	To the extent that the legal basis for our processing of your personal data is:
                    br
                    |  - (a)	consent; or
                    br
                    |  - (b)	that the processing is necessary for the performance of a contract to which you are party or in order to take steps at your request prior to entering into a contract,
                    br
                    |  - and such processing is carried out by automated means, you have the right to receive your personal data from us in a structured, commonly used and machine-readable format. However, this right does not apply where it would adversely affect the rights and freedoms of others.
                  p 6.11	If you consider that our processing of your personal information infringes data protection laws, you have a legal right to lodge a complaint with a supervisory authority responsible for data protection. You may do so in the EU member state of your habitual residence, your place of work or the place of the alleged infringement.
                  p 6.12	To the extent that the legal basis for our processing of your personal information is consent, you have the right to withdraw that consent at any time. Withdrawal will not affect the lawfulness of processing before the withdrawal.
                  p 6.13	You may exercise any of your rights in relation to your personal data by written notice to us, in addition to the other methods specified in this Section 6.

                  h4 7.	About cookies
                  p 7.1	A cookie is a file containing an identifier (a string of letters and numbers) that is sent by a web server to a web browser and is stored by the browser. The identifier is then sent back to the server each time the browser requests a page from the server.
                  p 7.2	Cookies may be either "persistent" cookies or "session" cookies: a persistent cookie will be stored by a web browser and will remain valid until its set expiry date, unless deleted by the user before the expiry date; a session cookie, on the other hand, will expire at the end of the user session, when the web browser is closed.
                  p 7.3	Cookies do not typically contain any information that personally identifies a user, but personal information that we store about you may be linked to the information stored in and obtained from cookies.

                  h4 8.	Cookies that we use
                  p 8.1	We use cookies for the following purposes:
                    br
                    |  - (a)	authentication - we use cookies to identify you when you visit our website and as you navigate our website;
                    br
                    |  - (b)	status - we use cookies to help us to determine if you are logged into our website;
                    br
                    |  - (c)	security - we use cookies as an element of the security measures used to protect user accounts, including preventing fraudulent use of login credentials, and to protect our website and services generally;
                    br
                    |  - (d)	analysis - we use cookies to help us to analyse the use and performance of our website and services; and
                    br
                    |  - (e)	cookie consent - we use cookies to store your preferences in relation to the use of cookies more generally.

                  h4 9.	Managing cookies
                  p 9.1	Most browsers allow you to refuse to accept cookies and to delete cookies. The methods for doing so vary from browser to browser, and from version to version. You can however obtain up-to-date information about blocking and deleting cookies via these links:
                    br
                    |  - (a)
                    a(href="https://support.google.com/chrome/answer/95647?hl=en" target="_blank")  https://support.google.com/chrome/answer/95647?hl=en
                    |  (Chrome);
                    br
                    |  - (b)
                    a(href="https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences" target="_blank")  https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences
                    |  (Firefox);
                    br
                    |  - (c)
                    a(href="http://www.opera.com/help/tutorials/security/cookies/" target="_blank")  http://www.opera.com/help/tutorials/security/cookies/
                    |  (Opera);
                    br
                    |  - (d)
                    a(href="https://support.microsoft.com/en-gb/help/17442/windows-internet-explorer-delete-manage-cookies" target="_blank")  https://support.microsoft.com/en-gb/help/17442/windows-internet-explorer-delete-manage-cookies
                    |  (Internet Explorer);
                    br
                    |  - (e)
                    a(href="https://support.apple.com/kb/PH21411" target="_blank")  https://support.apple.com/kb/PH21411
                    |  (Safari);
                    br
                    |  - (f)
                    a(href="https://privacy.microsoft.com/en-us/windows-10-microsoft-edge-and-privacy" target="_blank")  https://privacy.microsoft.com/en-us/windows-10-microsoft-edge-and-privacy
                    |  (Edge);
                  p 9.2	Blocking all cookies will have a negative impact upon the usability of many websites.
                  p 9.3	If you block cookies, you will not be able to use all the full list of features on our website.

                  h4 10.	Our details
                  p 10.1	This website is owned and operated by Coinmatics.
                  p 10.2	We are registered in Republic of Belarus and our registered office is at 40-603 Nemiga street, Minsk, Belarus.
                  p 10.3	You can contact us:
                    br
                    |  - (a)	by post, to the postal address given above;
                    br
                    |  - (b)	using our website contact form;
                    br
                    |  - (c)	by email, using the email address published on our website.
