// CONTENT (legal)
.content
  .container
    .content__wrapper
      .content__sidebar
        .content__sidebar-wrapper.js-sticky(data-offset-top="80" data-stop-watching="<1200")
          // tabs
          ul.content__sidebar-tabs.js-tabs(data-with-scrolltop="true" data-scroll-offset="80")
            li.is-active
              a.h5-title(href="#" data-target-tab="tab-1") Terms and Conditions
            li
              a.h5-title(href="#" data-target-tab="tab-2") Disclaimer (Risk disclosure)
            li
              a.h5-title(href="#" data-target-tab="tab-3") Cookie Policy
            li
              a.h5-title(href="#" data-target-tab="tab-4") Privacy Policy

      .content__text-section
        // accardeon on mobile
        .accardeon.accardeon--tabs-xl.accardeon--bg-white.js-accardeon
          .accardeon__element.is-active
            .accardeon__toggler
              .accardeon__title.c-primary
                .h6-title Terms and Conditions
                +svgMono('arrow-down')
            .accardeon__content.accardeon__content--main(style="display: block")
              // tab content
              .js-tab-content(data-tab="tab-1" style="display: block")
                .wysiwyg(data-aos="fade-up")
                  h2 Terms and Conditions
                  h4 Определение Пользовательского соглашения

                  p Пожалуйста, внимательно прочитайте условия Пользовательского Соглашения (далее “Соглашение”) до прохождения регистрации.
                  p Данное Соглашение является публичной офертой. Ваше использование Сайта и любых сервисов и услуг компании Coinmatics (далее — “Coinmatics”) означает ваше полное и безоговорочное согласие с правилами, изложенными в этом Соглашении.
                  p Настоящее Соглашение заключается между вами и Coinmatics, и регулирует ваше использование Платформы, Сайта, программного обеспечения, а также все предоставляемые Coinmatics приложения, сервисы и другие материалы и услуги.
                  p Настоящее Соглашение и Политика конфиденциальности составляют единственное и полное соглашение между вами и Coinmatics, и заменяют собой все иные договорённости, соглашения, заявления и гарантии, как письменные, так и устные, в отношении всех предоставляемых Coinmatics услуг.

                  h4 Условия принятия договора
                  p Регистрация на Сайте подразумевает достижение вами совершеннолетия и полную правоспособность для заключения настоящего Соглашения.
                  p Если вы являетесь физическим лицом, осуществляющим доступ к Сайту в интересах какой-либо корпорации, партнерства или другого юридического лица, то вы соглашаетесь с настоящим Соглашением от своего имени. Вы заявляете и гарантируете, что у вас есть законные полномочия связать такую ​​организацию с настоящим Соглашением.

                  h4 Содержание сайта и личные данные
                  p Принимая настоящее Соглашение, вы признаёте и соглашаетесь, что следующая информация и контент будут считаться неконфиденциальной и некоммерческой информацией, предоставляемой вами для общего и неограниченного доступа на Сайте:
                  p Ваше имя пользователя, изображение или аватар (при наличии).
                  p Параметры вашего биржевого кошелька и ваша торговая история (включая распределение активов, валютные пары, информацию о совершённых сделках).
                  p Список пользователей, подписавшихся на повтор вашей торговой стратегии (уведомления и автотрейдинг).
                    br
                    | Трейдеры, на повтор стратегии которых вы подписались.
                  p Описание торговой стратегии, информация о себе, любые комментарии, отзывы и другие формы взаимодействия с другими участниками Платформы и администрацией Сайта, предоставляемые и осуществляемые вами в рамках пользования нашей Платформой.
                  p Если вы подключаетесь к Сайту через социальную сеть (Facebook, Google, Linkedin и т.д.), Сайт получает доступ к общей информации вашей учетной записи этой социальной сети, которая включает ваше имя пользователя, изображение, пол, идентификатор пользователя, список друзей и всю доступную информацию, которой вы публично поделились в соответствующей социальной сети. Предоставляя нам любым путём информацию о себе, вы специально предоставляете нам неисключительную, безотзывную, передаваемую, сублицензируемую, бесплатную всемирную лицензию на использование, копирование, хранение, представление и публикацию этой информации, и мы будем быть свободным в использовании и распространении этой информации любым способом, в т.ч. средствами массовой информации.
                  p Сайт может содержать ссылки на сторонние веб-сайты и ресурсы. Если вы решите покинуть Сайт и перейти по какой-либо ссылке внутри Сайта, вы делаете это на свой страх и риск. Сайт не будет нести никакой ответственности, связанной с этими сайтами, в том числе за возможные убытки, понесённые вами в результате использования этих сайтов: покупка товаров или услуг, следование рекомендациям и любого другого использования.
                  p Вы признаете, что несете ответственность за любую информацию, которую вы отправляете или передаете через наш Сайт, включая вашу ответственность в отношении законности, надежности, уместности, оригинальности. Вы несете единоличную ответственность за любой ущерб, возникший в результате любого нарушения авторских прав, прав торговых марок или других имущественных прав любого физического или юридического лица, а также за любой другой ущерб или убытки, возникшие в результате размещения вами на Сайте любой информации и данных.
                  p Вопросы о сборе, хранении и использовании пользовательских данных регулируются Политикой конфиденциальности. Вы можете ознакомиться с ней, перейдя по ссылке:
                    br
                    a(href="https://docs.google.com/document/d/1U72zXovvHGtEjGzVC2X4MPD6lQBl_ePJK8qV-6_Rf8k/edit?usp=sharing" target="_blank") https://docs.google.com/document/d/1U72zXovvHGtEjGzVC2X4MPD6lQBl_ePJK8qV-6_Rf8k/edit?usp=sharing

          // accardeon element
          .accardeon__element
            .accardeon__toggler
              .accardeon__title.c-primary
                .h6-title Disclaimer (Risk disclosure)
                +svgMono('arrow-down')
            .accardeon__content.accardeon__content--main
              // tab content
              .js-tab-content(data-tab="tab-2")
                .wysiwyg
                  h2 Disclaimer (Risk disclosure)
                  h4 Определение Пользовательского соглашения

                  p Пожалуйста, внимательно прочитайте условия Пользовательского Соглашения (далее “Соглашение”) до прохождения регистрации.
                  p Данное Соглашение является публичной офертой. Ваше использование Сайта и любых сервисов и услуг компании Coinmatics (далее — “Coinmatics”) означает ваше полное и безоговорочное согласие с правилами, изложенными в этом Соглашении.
                  p Настоящее Соглашение заключается между вами и Coinmatics, и регулирует ваше использование Платформы, Сайта, программного обеспечения, а также все предоставляемые Coinmatics приложения, сервисы и другие материалы и услуги.
                  p Настоящее Соглашение и Политика конфиденциальности составляют единственное и полное соглашение между вами и Coinmatics, и заменяют собой все иные договорённости, соглашения, заявления и гарантии, как письменные, так и устные, в отношении всех предоставляемых Coinmatics услуг.

          // accardeon element
          .accardeon__element
            .accardeon__toggler
              .accardeon__title.c-primary
                .h6-title Cookie Policy
                +svgMono('arrow-down')
            .accardeon__content.accardeon__content--main
              // tab content
              .js-tab-content(data-tab="tab-3")
                .wysiwyg
                  h2 Cookie Policy
                  h4 Определение Пользовательского соглашения

                  p Пожалуйста, внимательно прочитайте условия Пользовательского Соглашения (далее “Соглашение”) до прохождения регистрации.
                  p Данное Соглашение является публичной офертой. Ваше использование Сайта и любых сервисов и услуг компании Coinmatics (далее — “Coinmatics”) означает ваше полное и безоговорочное согласие с правилами, изложенными в этом Соглашении.
                  p Настоящее Соглашение заключается между вами и Coinmatics, и регулирует ваше использование Платформы, Сайта, программного обеспечения, а также все предоставляемые Coinmatics приложения, сервисы и другие материалы и услуги.
                  p Настоящее Соглашение и Политика конфиденциальности составляют единственное и полное соглашение между вами и Coinmatics, и заменяют собой все иные договорённости, соглашения, заявления и гарантии, как письменные, так и устные, в отношении всех предоставляемых Coinmatics услуг.

          // accardeon element
          .accardeon__element
            .accardeon__toggler
              .accardeon__title.c-primary
                .h6-title Privacy Policy
                +svgMono('arrow-down')
            .accardeon__content.accardeon__content--main
              // tab content
              .js-tab-content(data-tab="tab-4")
                .wysiwyg
                  h2 Privacy Policy
                  h4 Определение Пользовательского соглашения

                  p Пожалуйста, внимательно прочитайте условия Пользовательского Соглашения (далее “Соглашение”) до прохождения регистрации.
                  p Данное Соглашение является публичной офертой. Ваше использование Сайта и любых сервисов и услуг компании Coinmatics (далее — “Coinmatics”) означает ваше полное и безоговорочное согласие с правилами, изложенными в этом Соглашении.
                  p Настоящее Соглашение заключается между вами и Coinmatics, и регулирует ваше использование Платформы, Сайта, программного обеспечения, а также все предоставляемые Coinmatics приложения, сервисы и другие материалы и услуги.
                  p Настоящее Соглашение и Политика конфиденциальности составляют единственное и полное соглашение между вами и Coinmatics, и заменяют собой все иные договорённости, соглашения, заявления и гарантии, как письменные, так и устные, в отношении всех предоставляемых Coinmatics услуг.
