// COOKIE
.cookie.js-cookie
  .cookie__wrapper
    .cookie__text
      p.p-small We use cookies. <a href="#" target="_blank">What does it mean?</a>
    .cookie__close.js-cookie-close
      +svgMono('close')
