---
title: 9. About
---
extends shared/_layout
block content

  // header modifier
  div(js-header-class data-class="dark-background")

  //- include ../components/page-title/_contacts
  //- include ../components/content/_contacts
  include ../components/reg-cta/_reg-cta
