---
title: 9. About
---
extends shared/_layout
block content

  // header modifier
  div(js-header-class data-class="dark-background")

  include ../components/page-title/_about
  include ../components/our-story/_our-story
  include ../components/roadmap/_roadmap
  include ../components/our-values/_our-values
  include ../components/team/_team
  include ../components/gallery/_gallery
  include ../components/news/_news
  include ../components/reg-cta/_reg-cta
