extends shared/_layout
block variables
  - var title = t('titles.contacts')
  - var metaDescription = t('meta.contacts.description')
  - var metaKeywords = t('meta.common.keywords')
  - var opGraphImage = 'https://coinmatics.com/img/opgraph/main.png'
  - var opGraphTitle = t('meta.contacts.opgraph.title')
  - var opGraphDescription = t('meta.contacts.opgraph.description')

block content

  // header modifier
  div(js-header-class data-class="dark-background")

  include ../components/page-title/_contacts
  include ../components/email-list/_email-list
  include ../components/social-list/_social-list
  include ../components/reg-cta/_reg-cta
