extends shared/_layout
block variables
  - var title = '4. FAQ'
block content

  // header modifier
  div(js-header-class data-class="dark-background")

  include ../components/page-title/_faq
  include ../components/content/_faq
  include ../components/reg-cta/_reg-cta
