extends shared/_layout
block variables
  - var title = t('titles.homepage')
  - var metaDescription = t('meta.homepage.description')
  - var metaKeywords = t('meta.common.keywords')
  - var opGraphImage = 'https://coinmatics.com/img/opgraph/main.png'
  - var opGraphTitle = t('meta.homepage.opgraph.title')
  - var opGraphDescription = t('meta.homepage.opgraph.description')

block content

  include ../components/hero/_hero
  include ../components/traders/_traders
  include ../components/features/_features
  include ../components/nfeatures/_nfeatures
  include ../components/easy-start/_easy-start
  include ../components/traders-start/_traders-start
  include ../components/integrations/_integrations
  include ../components/faq/_faq
