extends shared/_layout
block variables
  - var title = t('titles.homepage')
block content

  include ../components/hero/_hero
  include ../components/traders/_traders
  include ../components/features/_features
  include ../components/nfeatures/_nfeatures
  include ../components/easy-start/_easy-start
  include ../components/traders-start/_traders-start
  include ../components/integrations/_integrations
  include ../components/faq/_faq
