extends shared/_layout
block variables
  - var title = t('titles.investors')
  - var metaDescription = t('meta.investors.description')
  - var metaKeywords = t('meta.common.keywords')
  - var opGraphImage = 'https://coinmatics.com/img/opgraph/investors.png'
  - var opGraphTitle = t('meta.investors.opgraph.title')
  - var opGraphDescription = t('meta.investors.opgraph.description')

block content

  include ../components/page-title/_investors
  include ../components/traders/_traders-w-about
  include ../components/features/_features
  include ../components/nfeatures/_nfeatures
  include ../components/easy-start/_easy-start
  include ../components/integrations/_integrations
  include ../components/faq/_faq-no-cta
  include ../components/reg-cta/_reg-cta
