---
title: Investors
outClass: homepage
---
extends shared/_layout
block content

  include ../components/page-title/_investors
  include ../components/traders/_traders
  include ../components/features/_features
  include ../components/pperf/_pperf
  include ../components/easy-start/_easy-start
  include ../components/integrations/_integrations
  include ../components/faq/_faq
