---
title: 5. Legal
---
extends shared/_layout
block content

  // header modifier
  div(js-header-class data-class="dark-background")

  include ../components/page-title/_legal
  include ../components/content/_legal
