---
title: 11. Trader
---
extends shared/_layout
block content

  // header modifier
  div(js-header-class data-class="dark-background")

  include ../components/trader/_head
  include ../components/trader/_content
