extends shared/_layout
block variables
  - var title = t('titles.traders')
  - var metaDescription = t('meta.traders.description')
  - var metaKeywords = t('meta.common.keywords')
  - var opGraphImage = 'https://coinmatics.com/img/opgraph/traders.png'
  - var opGraphTitle = t('meta.traders.opgraph.title')
  - var opGraphDescription = t('meta.traders.opgraph.description')

block content

  include ../components/page-title/_traders
  include ../components/traders/_traders-only-about
  include ../components/features/_features--traders
  include ../components/b-story/_b-story
  include ../components/easy-start/_easy-start-2
  include ../components/traders-start/_traders-tools-only
  include ../components/integrations/_integrations
  include ../components/faq/_faq-no-cta-traders
  include ../components/reg-cta/_reg-cta
