extends shared/_layout
block variables
  - var title = t('titles.trader')
  - var metaDescription = t('meta.trader.description')
  - var metaKeywords = t('meta.common.keywords')
  - var opGraphImage = 'https://coinmatics.com/img/opgraph/traders.png'
  - var opGraphTitle = t('meta.trader.opgraph.title')
  - var opGraphDescription = t('meta.trader.opgraph.description')

block content

  // header modifier
  div(js-header-class data-class="dark-background")

  include ../components/trader/_head
  include ../components/trader/_content
