// team
.team
  padding: 100px 0 100px
  &__head
    text-align: center
  &__wrapper
    display: flex
    flex-wrap: wrap
    align-items: center
    margin: 46px -10px -30px
  &__col
    width: 100%
    flex: 0 0 $col3
    max-width: $col3
    min-width: 1px
    min-height: 0
    padding: 10px
  &__cta
    margin-top: 56px
    text-align: center

+r($md)
  .team
    padding: 56px 0
    &__wrapper
      margin-top: 38px
      margin-bottom: -32px
    &__col
      flex-basis: $col4
      max-width: $col4
    &__cta
      margin-top: 32px

+r($sm)
  .team
    &__col
      flex-basis: 50%
      max-width: 50%

// team card
.team-card
  margin-bottom: 20px
  &__image
    position: relative
    z-index: 1
    background: #FAFBFD
    border-radius: 24px
    padding: 10px
    overflow: hidden
    &::after
      display: inline-block
      content: ' '
      position: absolute 0
      z-index: 1
      background: svg-load('../icons/svg-inline/team-image-bg.svg') no-repeat center bottom
      background-size: contain
  &__image-wrapper
    position: relative
    z-index: 2
    border-radius: 20px
    overflow: hidden

  &__content
    margin-top: 16px
    padding-left: 10px
    padding-right: 10px
    .p-small
      margin-top: 4px

+r($md)
  .team-card
    margin-bottom: 12px
    &__content
      margin-top: 8px
