.test-page
  .content
    .container
      div(style="margin: 50px 0")
        h2.h2-title(style="color: #18DCA6") Modals
        a(href="#modalSubscribe").btn.btn-primary.js-popup Subscribe
        a(href="#modalThanks").btn.btn-primary.js-popup Thanks modal

      div(style="margin: 50px 0")
        h2.h2-title(style="color: #18DCA6") Typography

        h1.h1-title Montserrat Alternates 48-52 Bold - H1
        h2.h2-title Montserrat Alternates 40-48 Bold - H2
        h3.h3-title Montserrat Alternates 24-28 Bold - h3, trader card name
        h4.h4-title Montserrat Alternates 18-22 Bold - h4, trader card items
        h5.h5-title Montserrat Alternates 16-20 Semi Bold - h5, buttons
        h6.h6-title Montserrat Alternates 14-18 Semi Bold - h6, menu, buttons

        p.p-main Open Sans 16-21 Reg - regular text, large
        p.p-small Open Sans 14-19 Reg - regular text, standart, label
        p.p-mini Open Sans 10 Bold - trader card graph


      div(style="margin: 50px 0")
        h2.h2-title(style="color: #18DCA6") Icon pack (mono)
        .test-icons
          .group
            +svgMono('arrow-down')
            +svgMono('arrow-right')
            +svgMono('pointer-short')
            +svgMono('pointer-long')
            +svgMono('check')
            +svgMono('close')
            +svgMono('map-point')
            +svgMono('map-point-big')
          .group
            +svgMono('nav-investors')
            +svgMono('nav-top-traders')
            +svgMono('nav-traders')
            +svgMono('nav-signals')
            +svgMono('nav-traders-tools')
            +svgMono('nav-faq')
            +svgMono('nav-ask-a-question')
          .group
            +svgMono('social-instagram')
            +svgMono('social-facebook')
            +svgMono('social-twitter')
            +svgMono('social-medium')
      div(style="margin: 50px 0")
        h2.h2-title(style="color: #18DCA6") Icon pack (color)
        .test-icons
          div.group
            +svgColor('logo-sign')
            +svgColor('logo-sign-white')
            +svgColor('logo-beta')
            +svgColor('lang-rus')
            +svgColor('lang-eng')
          div.group
            +svgColor('passive-income')
            +svgColor('diversification')
            +svgColor('manageable-risks')
            +svgColor('safety')
            +svgColor('portfolio')
            +svgColor('skin-in-game')
            +svgColor('profile-promotion')
            +svgColor('technological-advantage')
            +svgColor('transparency')
            +svgColor('no-ico')
          div.group
            +svgColor('nav-investors')
            +svgColor('nav-top-traders')
            +svgColor('nav-traders')
            +svgColor('nav-signals')
            +svgColor('nav-traders-tools')
            +svgColor('nav-faq')
            +svgColor('nav-ask-a-question')

div(style="margin: 50px 0; background: #0E1F50; padding: 100px 0")
  .bg-waves.bg-waves--blue.bg-null
    include ../../../icons/svg-inline/waves-up.svg
  .bg-waves.bg-waves--blue.bg-null
    include ../../../icons/svg-inline/waves-n.svg
  .bg-waves.bg-waves--blue.bg-null
    include ../../../icons/svg-inline/waves-n-a.svg
