// OUR values
.our-values
  padding: 240px 0 100px
  &__head
    max-width: 225px
    .p-small
      margin-top: 24px
  &__wrapper
    display: flex
    flex-wrap: wrap
    margin: -12px
  &__col
    width: 100%
    flex: 0 0 $col4
    max-width: $col4
    min-width: 1px
    min-height: 0
    padding: 12px
  &__list-container
    .h5-title
      padding-top: 8px
  &__list
    list-style: none
    margin: 24px 0 0
    padding: 0
    li
      display: flex
      margin-bottom: 20px
      .ico
        margin-right: 8px
      &:last-child
        margin-bottom: 0
    &--green
      color: $colorPrimary
