// EASY START
.easy-start
  .easy-start__waves.bg-waves.bg-waves--gray
    include ../../icons/svg-inline/waves-up.svg

  .container
    .easy-start__wrapper.easy-start__wrapper--collapsed
      .easy-start__content
        .section-head(data-aos="fade-up")
          h4.h4-title.c-light Easy Start
          h2.h2-title.h3-title-md Create a new revenue stream
          p.p-main It’s never been easier to trade like a real professional trader. Just few steps.
      .easy-start__steps
        .easy-start__steps-wrapper
          .easy-start__steps-col(data-aos="fade-up")
            // .es-card
            .es-card.es-card--line
              .es-card__image
                include ../../icons/svg-inline/trader-start-1.svg
              .es-card__content
                .h6-title 1. <br/>Привяжите профиль на крипто-бирже
                .p-small.c-gray Не нужно создавать track record после подключения, мы можем показать текущие результаты
          .easy-start__steps-col(data-aos="fade-up")
            // .es-card
            .es-card.es-card--line
              .es-card__image
                include ../../icons/svg-inline/trader-start-2.svg
              .es-card__content
                .h6-title 2. <br/>Установите размер прибыли со сделок
                .p-small.c-gray Выбери получаемый процент прибыли от сделок подписанных на тебя инвесторов
          .easy-start__steps-col(data-aos="fade-up")
            // .es-card
            .es-card.es-card--line
              .es-card__image
                include ../../icons/svg-inline/trader-start-3.svg
              .es-card__content
                .h6-title 3. <br/>Просто продолжайте торговать
                .p-small.c-gray Ваш доход будет увеличиваться с каждым новым подписчиком

      .easy-start__cta(data-aos="fade-up")
        a(href="#").btn.btn-primary Start Earning
