// EASY START
.easy-start
  .easy-start__waves.bg-waves
    include ../../icons/svg-inline/waves-easy-start.svg

  .container
    .easy-start__wrapper
      .easy-start__content
        .easy-start__content-wrapper
          .section-head.section-head--left(data-aos="fade-up")
            h4.h4-title.c-light Easy Start
            h2.h2-title Simple as one, two, three
            p.p-main It’s never been easier to trade like a real professional trader. Just few steps.
            a(href="#").btn.btn-primary.btn--xl Start Earning
      .easy-start__steps
        .easy-start__steps-wrapper
          .easy-start__steps-col
            // .es-card
            .es-card
              .es-card__image
                include ../../icons/svg-inline/easy-start-1.svg
              .es-card__content
                .es-card__number 1
                .p-small Connect your exchanges account
          .easy-start__steps-col
            // .es-card
            .es-card
              .es-card__image
                include ../../icons/svg-inline/easy-start-2.svg
              .es-card__content
                .es-card__number 2
                .p-small Chose the best traders to follow
          .easy-start__steps-col
            // .es-card
            .es-card
              .es-card__image
                include ../../icons/svg-inline/easy-start-3.svg
              .es-card__content
                .es-card__number 3
                .p-small Track your gains in comfortable way
