- var currentLocale = locale || '';
#modalSubscribe.modal
  .popup-dialog
    .popup-dialog__close.js-close-popup
      +svgMono('close')

    .popup-dialog__wrapper
      .popup-dialog__head
        .h3-title.h4-title-md Subscribe Our Newsletter

      form.popup-dialog__form(id="subscribeForm" data-success-function="isValid").js-validate-form
        .ui-group-row-btn
          .ui-input
            input(type="email" name="email" placeholder="Your email address" required)
          button.btn.btn-primary(type="submit") Subscribe
        .popup-dialog__terms
          p.p-mini.c-gray By pressing the button, I agree to Coinmatic's <a href="/#{currentLocale}/legal">Terms of Service</a> and <a href="/#{currentLocale}/legal">Privacy Policy</a>.


script.
  document.getElementById("subscribeForm").onsubmit = function (e) {
    e.preventDefault()
  }
  function isValid(formData) {
    const email = formData.split('=')[1].replace(/\%40/, '@');
    fetch('/api/subscribe', {
      method: "POST",
      headers: {
         'Content-Type': 'application/json;charset=utf-8'
      },
      body: JSON.stringify({
        email
      })
    }).then(response => {
      APP.Plugins.Modals.openModal("#modalThanks");
    }).catch(error => {
      console.error('error', error);
    })
  }

