#modalThanks.modal
  .popup-dialog
    .popup-dialog__close.js-close-popup
      +svgMono('close')

    .popup-dialog__wrapper
      .popup-dialog__head.tac
        .h3-title.h4-title-md=t('modal-thanks.title')

      .popup-dialog__content.tac
        p.p-main=t('modal-thanks.text')
        a(href="#").js-close-popup.btn.btn-primary=t('modal-thanks.button')
