#modalThanks.modal
  .popup-dialog
    .popup-dialog__close.js-close-popup
      +svgMono('close')

    .popup-dialog__wrapper
      .popup-dialog__head.tac
        .h3-title.h4-title-md You’ve Been Subscribed!

      .popup-dialog__content.tac
        p.p-main Thank for your subscription!
          br
          | We will send you our newsletter and updates now.
        a(href="#").js-close-popup.btn.btn-primary Back
