// OUR story
.our-story
  .container.container--8
    .our-story__row
      .our-story__image(data-aos="fade")
        img(js-lazy src='img/our-story.png' data-srcset='img/our-story@2x.png 2x')
        //- include ../../icons/svg-inline/our-story.svg
      .our-story__content(data-aos="fade-up")
        .section-head.section-head--left
          h3.h3-title Our Story
          p.p-small.p-main-md.c-gray Мы — команда трейдеров, заинтересованных в автоматизации процессов крипто-торговли. Одной из наших задач была автоматизация повторения на своих счетах. Не найдя альтернативных корректно работающих решений, сделали его для себя и теперь предоставили всему рынку.

    .our-story__row
      .our-story__content.our-story__content--pl40(data-aos="fade-up")
        .section-head.section-head--left
          h3.h3-title Our Mission
          p.p-small.p-main-md.c-gray Рынок криптовалют – это рынок растущих возможностей. Мы хотим сделать их доступными для всех, независимо от уровня финансового образования и опыта.
      .our-story__image(data-aos="fade")
        img(js-lazy src='img/our-mission.png' data-srcset='img/our-mission@2x.png 2x')
        //- include ../../icons/svg-inline/our-mission.svg
