/* HEADER
.header
  position: fixed
  top: 0
  right: 0
  left: 0
  z-index: 9
  background: white
  will-change: transform
  // backface-visibility: hidden
  // transform-style: preserve-3d
  transition: background .1s $ease, top .25s $ease
  &__wrapper
    display: flex
    align-items: center
    padding: 20px 0 24px 0

  &__logo
    flex: 0 0 auto
    padding-right: 24px
    .logo__icon
      .ico-color-logo-sign-white
        display: none

  &__menu
    flex: 0 1 auto
    display: flex
    align-items: center
    margin: 0 auto
    padding: 0
    li
      display: inline-block
      margin-right: 24px
      font-family: $monsterFont
      font-weight: 600
      font-size: 14px
      line-height: (18 / 14)
      color: $colorBg
      .ico
        font-size: 6px
        margin-left: 6px
      // &:last-child
      //   margin-right: 0
    a
      display: flex
      align-items: center
      transition: color .25s $ease
      &:hover, &.is-active
        color: $colorPrimary

  &__cta
    display: flex
    align-items: center
    padding-left: 24px
    .btn + .btn
      margin-left: 8px

  &__hamburger
    display: none
    padding-right: 14px

  &.is-fixed
    // should be normalized to -100% scroll at this point
    position: fixed
    transform: translate3d(0,-100%,0) !important
    transition: transform .25s $ease, background .1s $ease, top .25s $ease
    border-bottom: 1px solid rgba($colorBg, 0.05)
    .header__wrapper
      padding-top: 12px
      padding-bottom: 12px

  &.is-fixed-visible
    transform: translate3d(0,0,0) !important

  &.is-transitioning
    transition: transform .25s $ease, background .1s $ease, top .25s $ease
    transform: translate3d(0,-100%,0) !important

  &.is-cookie-spaced
    top: 38px

  &[data-modifier="dark-background"]
    background: transparent
    .header
      &__logo
        .logo
          color: white
        .logo__icon
          .ico-color-logo-sign
            display: none
          .ico-color-logo-sign-white
            display: block
      &__menu
        li
          color: white

body.is-megamenu-active
  .header
    transform: translate3d(0,0,0) !important

body.is-megamenu-active, body.is-header-fixed
  .header[data-modifier="dark-background"]
    background: white
    .header
      &__logo
        .logo
          color: #000
        .logo__icon
          .ico-color-logo-sign
            display: block
          .ico-color-logo-sign-white
            display: none
      &__menu
        li
          color: $colorBg


+r($xl)
  .header
    > .container
      padding-left: 28px
      padding-right: 28px
    &__wrapper
      padding-bottom: 20px
    &__menu
      display: none
    &__cta
      margin-left: auto
    &__hamburger
      display: block
      padding-right: 22px

+r($md)
  .header
    > .container
      padding-left: 20px
      padding-right: 20px

    &__wrapper
      padding-top: 19px
      padding-bottom: 19px
    &__logo
      // padding-right: 44px
    &__cta
      display: none
    &__hamburger
      margin-left: 0
      padding-right: 28px
