// HEADER :: START
header.header
  .container
    .header__wrapper
      a(href="homepage.html").header__logo.logo
        .logo__icon
          +svgColor('logo-sign')
        .logo__name Coinmatics
        .logo__tag
          +svgColor('logo-beta')
      ul.header__menu.js-megamenu-trigger
        li
          a(href="#" data-for="1")
            span For Investors
            +svgMono('arrow-down')
        li
          a(href="#" data-for="2")
            span For Traders
            +svgMono('arrow-down')
        li
          a(href="#" data-for="3")
            span Support
            +svgMono('arrow-down')

      .header__cta
        a(href="#").btn.btn-ghost.btn--small Log In
        a(href="#").btn.btn-primary.btn--small Get Started

      .header__hamburger
        .hamburger.hamburger--squeeze.js-hamburger
          .hamburger-box
            .hamburger-inner
