
// megamenu
.megamenu.js-megamenu(data-id="1")
  .megamenu__scroller
    .container
      .megamenu__grid
        .megamenu__col
          a(href="investors.html").menu-nav
            .menu-nav__icon
              +svgColor('nav-investors')
              +svgMono('nav-investors')
            .menu-nav__content
              .h5-title Copytrading for investors
              .p-mini Passive income on Steroids
        .megamenu__col
          a(href="investors.html").menu-nav
            .menu-nav__icon
              +svgColor('nav-top-traders')
              +svgMono('nav-top-traders')
            .menu-nav__content
              .h5-title Discover Top Traders
              .p-mini A wide range of profitable traders for you to follow
        .megamenu__col
          a(href="investors.html").menu-nav
            .menu-nav__icon
              +svgColor('nav-signals')
              +svgMono('nav-signals')
            .menu-nav__content
              .h5-title Free Trading Signals
              .p-mini Telegram channel with free trading signals from our traders

// megamenu
.megamenu.js-megamenu(data-id="2")
  .megamenu__scroller
    .container
      .megamenu__grid
        .megamenu__col
          a(href="traders.html").menu-nav
            .menu-nav__icon
              +svgColor('nav-traders')
              +svgMono('nav-traders')
            .menu-nav__content
              .h5-title Copytrading for Traders
              .p-mini Gain more from your trades without increasing risks
        .megamenu__col
          a(href="traders.html").menu-nav
            .menu-nav__icon
              +svgColor('nav-traders-tools')
              +svgMono('nav-traders-tools')
            .menu-nav__content
              .h5-title Free Market Research tools
              .p-mini Enhance your decision process with our products

// megamenu
.megamenu.js-megamenu(data-id="3")
  .megamenu__scroller
    .container
      .megamenu__grid
        .megamenu__col
          a(href="faq.html").menu-nav
            .menu-nav__icon
              +svgColor('nav-faq')
              +svgMono('nav-faq')
            .menu-nav__content
              .h5-title FAQ
              .p-mini Frequently Asked Questions
        .megamenu__col
          a(href="#").menu-nav
            .menu-nav__icon
              +svgColor('nav-ask-a-question')
              +svgMono('nav-ask-a-question')
            .menu-nav__content
              .h5-title Ask a Question
              .p-mini We will be happy to answer any questions about our products
