// megamenu
.megamenu
  position: fixed
  top: 84px
  z-index: 8
  left: 0
  right: 0
  height: calc(100% - 84px)
  display: flex
  flex-direction: column
  background: rgba(#13265C, .34)
  opacity: 0
  letter-spacing: 0em
  pointer-events: none
  will-change: opacity
  transition: .25s $ease
  &.is-active
    opacity: 1
    pointer-events: all
  &__scroller
    flex: 0 1 auto
    min-height: 1px
    min-width: 1px
    position: relative
    background: white
    box-shadow: 0px 4px 12px rgba(14, 31, 80, 0.04)
    overflow-y: auto
    -webkit-overflow-scrolling: touch
  &__grid
    display: flex
    flex-wrap: wrap
    margin: 64px -10px 100px
  &__col
    width: 100%
    min-width: 1px
    min-height: 0
    flex: 0 0 $col4
    max-width: $col4
    padding: 10px



body.is-header-fixed
  .megamenu
    top: 66px
    height: calc(100% - 66px)
