.mobile-navi
  display: none
  position: fixed
  top: 0px
  bottom: 0
  left: 0
  right: 0
  z-index: 11
  background: rgba(#13265C, .34)
  // display: flex
  flex-direction: column
  pointer-events: none
  opacity: 0
  transition: opacity .25s .1s $ease
  &__head
    display: flex
    align-items: center
    margin-bottom: 64px
    .header__hamburger
      margin-left: auto
      margin-right: -18px
      padding-right: 0
  &__scroller
    flex: 1 1 auto
    display: flex
    flex-direction: column
    width: 90%
    max-width: 518px
    margin-right: auto
    padding: 32px 48px 80px 32px
    background: white
    overflow-y: auto
    -webkit-overflow-scrolling: touch
    will-change: transform
    backface-visibility: hidden
    transform: translate3d(-100%,0,0)
    transition: transform .25s $ease
  &__section
    margin-bottom: 48px
    &:last-child
      margin-bottom: 0
    &--mobile
      display: none
  &__list
    .menu-nav
      margin-top: 32px
      align-items: center
    .menu-nav__content
      max-width: 100%
  &__cta-mobile
    display: none
    margin-top: auto
    .btn + .btn
      margin-top: 4px

  &.is-active
    // opacity: 0.5
    opacity: 1
    pointer-events: all
    transition: opacity .25s $ease
    .mobile-navi__scroller
      transform: translate3d(0,0,0)
      transition: transform .25s .1s $ease

+r($xl)
  .mobile-navi
    display: flex

+r($md)
  .mobile-navi
    display: flex
    &__head
      margin-bottom: 20px
    &__scroller
      padding: 20px 32px 24px
      width: 90%
      max-width: 280px
    &__section
      margin-bottom: 24px
      &--mobile
        display: block
    &__list
      padding-right: 20px
      .menu-nav
        margin-top: 12px
    &__cta-mobile
      display: block

