
// MOBILE NAVI
.mobile-navi
  .mobile-navi__scroller
    // section
    .mobile-navi__section
      .h6-title.c-gray For Investors
      .mobile-navi__list
        a(href="#").menu-nav
          .menu-nav__icon
            +svgColor('nav-investors')
            +svgMono('nav-investors')
          .menu-nav__content
            .h5-title Copytrading for investors
            .p-mini Copytrading for investors Copytrading for investors
        a(href="#").menu-nav
          .menu-nav__icon
            +svgColor('nav-top-traders')
            +svgMono('nav-top-traders')
          .menu-nav__content
            .h5-title Discover Top Traders
            .p-mini Copytrading for investors Copytrading for investors
        a(href="#").menu-nav
          .menu-nav__icon
            +svgColor('nav-signals')
            +svgMono('nav-signals')
          .menu-nav__content
            .h5-title Telegram free trading signals
            .p-mini Copytrading for investors Copytrading for investors

    // section
    .mobile-navi__section
      .h6-title.c-gray For Traders
      .mobile-navi__list
        a(href="#").menu-nav
          .menu-nav__icon
            +svgColor('nav-traders')
            +svgMono('nav-traders')
          .menu-nav__content
            .h5-title Copytrading for Traders
            .p-mini Copytrading for investors Copytrading for investors
        a(href="#").menu-nav
          .menu-nav__icon
            +svgColor('nav-traders-tools')
            +svgMono('nav-traders-tools')
          .menu-nav__content
            .h5-title Trader Tools
            .p-mini Copytrading for investors Copytrading for investors

    // section
    .mobile-navi__section
      .h6-title.c-gray Support
      .mobile-navi__list
        a(href="#").menu-nav
          .menu-nav__icon
            +svgColor('nav-faq')
            +svgMono('nav-faq')
          .menu-nav__content
            .h5-title FAQ
            .p-mini Copytrading for investors Copytrading for investors
        a(href="#").menu-nav
          .menu-nav__icon
            +svgColor('nav-ask-a-question')
            +svgMono('nav-ask-a-question')
          .menu-nav__content
            .h5-title Ask Us a Question
            .p-mini Copytrading for investors Copytrading for investors

    // section
    .mobile-navi__cta-mobile
      a(href="#").btn.btn-ghost.btn--block Log In
      a(href="#").btn.btn-primary.btn--block Get Started
