
// MOBILE NAVI
.mobile-navi
  .mobile-navi__scroller
    .mobile-navi__head
      a(href="homepage.html").header__logo.logo
        .logo__icon
          +svgColor('logo-sign')
        .logo__name Coinmatics
        .logo__tag
          +svgColor('logo-beta')
      .header__hamburger.js-close-mobile-navi
        .hamburger.hamburger--squeeze.is-active
          .hamburger-box
            .hamburger-inner

    // section
    .mobile-navi__section
      .h6-title.p-mini-md.c-gray For Investors
      .mobile-navi__list
        a(href="invetors.html").menu-nav
          .menu-nav__icon
            +svgColor('nav-investors')
            +svgMono('nav-investors')
          .menu-nav__content
            .h5-title.h6-title.p-mini-md-md Copytrading for investors
            .p-mini Copytrading for investors Copytrading for investors
        a(href="invetors.html").menu-nav
          .menu-nav__icon
            +svgColor('nav-top-traders')
            +svgMono('nav-top-traders')
          .menu-nav__content
            .h5-title.h6-title.p-mini-md-md Discover Top Traders
            .p-mini Copytrading for investors Copytrading for investors
        a(href="invetors.html").menu-nav
          .menu-nav__icon
            +svgColor('nav-signals')
            +svgMono('nav-signals')
          .menu-nav__content
            .h5-title.h6-title.p-mini-md-md Telegram free trading signals
            .p-mini Copytrading for investors Copytrading for investors

    // section
    .mobile-navi__section
      .h6-title.p-mini-md.c-gray For Traders
      .mobile-navi__list
        a(href="traders.html").menu-nav
          .menu-nav__icon
            +svgColor('nav-traders')
            +svgMono('nav-traders')
          .menu-nav__content
            .h5-title.h6-title.p-mini-md-md Copytrading for Traders
            .p-mini Copytrading for investors Copytrading for investors
        a(href="traders.html").menu-nav
          .menu-nav__icon
            +svgColor('nav-traders-tools')
            +svgMono('nav-traders-tools')
          .menu-nav__content
            .h5-title.h6-title.p-mini-md-md Trader Tools
            .p-mini Copytrading for investors Copytrading for investors

    // section
    .mobile-navi__section
      .h6-title.p-mini-md.c-gray Support
      .mobile-navi__list
        a(href="faq.html").menu-nav
          .menu-nav__icon
            +svgColor('nav-faq')
            +svgMono('nav-faq')
          .menu-nav__content
            .h5-title.h6-title.p-mini-md-md FAQ
            .p-mini Copytrading for investors Copytrading for investors
        a(href="#").menu-nav
          .menu-nav__icon
            +svgColor('nav-ask-a-question')
            +svgMono('nav-ask-a-question')
          .menu-nav__content
            .h5-title.h6-title.p-mini-md-md Ask Us a Question
            .p-mini Copytrading for investors Copytrading for investors

    // section
    .mobile-navi__cta-mobile
      a(href="#").btn.btn-ghost.btn--block.btn--small Log In
      a(href="#").btn.btn-primary.btn--block.btn--small Get Started
