// Gallery
.gallery
  .container
    .gallery__head(data-aos="fade-up")
      .h3-title=t('gallery.title')

  .gallery__slider(data-aos="fade-up")
    .swiper-container.swiper-nav-bullets.swiper-nav-bullets--large.js-swiper-gallery
      .swiper-wrapper
        -
          var sliders = [
            {
              src: '1',
              alt: 'First Photo'
            },
            {
              src: '2',
              alt: 'Second Photo'
            },
            {
              src: '3',
              alt: 'Third Photo'
            },
            {
              src: '4',
              alt: 'Fourth Photo'
            },
            {
              src: '5',
              alt: 'Fifth Photo'
            },
            {
              src: '6',
              alt: 'Sixth Photo'
            },
            {
              src: '7',
              alt: 'Seventh Photo'
            }
          ]

        each slide in sliders
          .swiper-slide
            .gallery__image
              img(src=`/img/office/${slide.src}.jpg` srcset=`/img/office/${slide.src}.jpg 2x` alt=slide.alt)

      .swiper-pagination
