// Gallery
.gallery
  .container
    .gallery__head(data-aos="fade-up")
      .h3-title=t('gallery.title')

  .gallery__slider(data-aos="fade-up")
    .swiper-container.swiper-nav-bullets.swiper-nav-bullets--large.js-swiper-gallery
      .swiper-wrapper
        -
          var sliders = [
            {
              src: 'image',
              alt: 'First Photo'
            },
            {
              src: 'image-1',
              alt: 'Second Photo'
            },
            {
              src: 'image-2',
              alt: 'Third Photo'
            },
            {
              src: 'image-3',
              alt: 'Fourth Photo'
            },
            {
              src: 'image-4',
              alt: 'Fifth Photo'
            },
            {
              src: 'image-5',
              alt: 'Sixth Photo'
            },
            {
              src: 'image-6',
              alt: 'Seventh Photo'
            }
          ]

        each slide in sliders
          .swiper-slide
            .gallery__image
              img(src=`/img/office/${slide.src}.png` srcset=`/img/office/${slide.src}.png 2x` alt=slide.alt)

      .swiper-pagination
