// PAGE TITLE
.page-title.page-title--dark.page-title--more-height
  .container.container--8
    .page-title__bg-coins
      include ../../icons/svg-inline/coins-bg-page-title-large.svg
    .page-title__bg-waves
      include ../../icons/svg-inline/waves-bg-page-title.svg
    .page-title__head(data-aos="fade-up")
      .h4-title.c-gray Who we are
      h1.h1-title.h3-title-md.c-primary Coinmatics is the advanced copy trading platform making crypto trading as simple as possible

  .page-title__waves.bg-waves.bg-waves--bottom.bg-waves--dark
    include ../../icons/svg-inline/waves-up.svg
