// PAGE TITLE
.page-title
  .container.container--8
    .page-title__head(data-aos="fade-up")
      h1.h1-title.h3-title-md=t('investors.title')
      p.p-main.p-small-md=t('investors.description')
      a(href="#").btn.btn-primary=t('investors.button')
