// PAGE TITLE
.page-title.page-title--dark
  .container
    .page-title__bg-coins
      include ../../icons/svg-inline/coins-bg-page-title.svg
    .page-title__head(data-aos="fade-up")
      h1.h1-title.h3-title-md=t('page-title-legal.title')

  .page-title__waves.bg-waves.bg-waves--bottom.bg-waves--dark.bg-waves--h-small
    include ../../icons/svg-inline/waves-up.svg
