// Page title
.page-title
  margin: 236px 0 184px
  &__head
    text-align: center
    // max-width: 566px ?
    margin-left: auto
    margin-right: auto
    .h1-title
      margin: 0 0 16px
    .h1-title
      &:first-child
        margin-top: 0
      &:last-child
        margin-bottom: 0
    .btn
      margin-top: 24px
