// Page title
.page-title
  position: relative
  margin: 236px 0 184px
  &__head
    position: relative
    z-index: 2
    text-align: center
    // max-width: 566px ?
    margin-left: auto
    margin-right: auto
    .h1-title
      margin: 0 0 16px
    .h1-title
      &:first-child
        margin-top: 0
      &:last-child
        margin-bottom: 0
    .h4-title + .h1-title
      margin-top: 40px
    .btn
      margin-top: 24px
  &__bg-coins
    position: absolute
    z-index: 1
    // bottom: 94px
    top: 148px
    left: 50%
    transform: translateX(-50%)
    pointer-events: none
    svg, img
      overflow: visible
  &__bg-waves
    position: absolute
    z-index: 1
    top: 308px
    left: 0
    right: 0
    pointer-events: none
    svg, img
      overflow: visible
      width: 100%
      height: 333px
  &--dark
    margin: 0
    color: white
    // background: linear-gradient(180deg, #0E1F50 0%, #041133 100%);
    background: linear-gradient(180deg, #0E1F50 0%, #0E1F50 20%, #041133 80%, #041133 100%);
    .page-title__head
      padding: 180px 0 112px
  &--more-height
    .page-title__head
      padding: 340px 0 256px

+r($xl)
  .page-title
    margin: 220px 0 136px
    &__head
      max-width: 500px
      .h1-title
        margin-bottom: 24px
      .btn
        margin-top: 40px
    &__bg-coins
      display: none
    &--dark
      margin: 0
      .page-title__head
        padding-bottom: 120px


+r($md)
  .page-title
    margin: 184px 0 136px
    &__head
      .h1-title
        margin-bottom: 16px
      .btn
        margin-top: 24px
    &--dark
      margin: 0
      .page-title__head
        padding: 120px 0 88px
