// PAGE TITLE
.page-title
  .container
    .page-title__head(data-aos="fade-up")
      h1.h1-title=t('traders-page.title')
      p.p-main=t('traders-page.subtitle')
      a(href=baseUrl + `/signup?l=${locale}`).btn.btn-primary=t('traders-page.button')
