// PAGE TITLE
.page-title
  .container
    .page-title__head(data-aos="fade-up")
      h1.h1-title Coinmatics For Traders
      p.p-main Get more out of your trading deals without increasing risks
      a(href="#").btn.btn-primary Start Earning
