// FEATURES
.traders
  margin-top: -28px
  background: linear-gradient(180deg, #0E1F50 0%, #0E1F50 20%, #041133 80%, #041133 100%);
  color: white
  &__container
    padding: 24px 0
  &__card
    margin: 48px 0 32px
    padding-left: 24px
    padding-right: 24px
  &__cta
    margin-top: 32px
    text-align: center

+r($xl)
  .traders
    &__container
      padding: 48px 0 24px
    &__card
      margin: 40px 0 32px
      padding-left: 0
      padding-right: 0

+r($md)
  .traders
    &__container
      padding: 32px 0 24px
    &__card
      margin: 24px 0 24px
    &__cta
      margin-top: 24px



// trader-card
.trader-card
  background: #13265C
  border-radius: 32px
  &__slider
    pointer-events: none
    .swiper-pagination
      display: none
  &__main
    padding: 48px
    min-width: 1px
    display: flex
    // slide instance
  &__avatar
    position: relative
    z-index: 1
    align-self: flex-start
    width: 100%
    min-width: 1px
    min-height: 0
    flex: 0 0 254px
    max-width: 254px
    border-radius: 20px
    overflow: hidden
  &__content
    flex: 0 0 265px
    min-width: 1px
    min-height: 0
    padding-left: 40px
  &__name
    margin-bottom: 20px
    margin-top: 8px
  &__info-grid
    display: flex
    flex-wrap: wrap
    margin: -10px
    &--mobile
      display: none
  &__info-col
    width: 100%
    min-width: 1px
    min-height: 0
    padding: 10px
    flex: 0 0 50%
    max-width: 50%
    &--full
      flex-basis: 100%
      max-width: 100%
    .h4-title
      margin-top: 8px

  &__chart
    flex: 1 1 auto
    min-width: 1px
    min-height: 0
    padding-left: 48px
    padding-top: 16px

  &__chart-stats
    display: flex
    .h6-title
      flex: 0 0 auto
      margin-left: auto
      text-align: right
  &__chart-graph
    position: relative
    height: 192px
    margin-top: 24px
    // canvas
    //   height: 192px

  // nav
  &__nav
    padding: 22px 38px
    // background: $colorBg, .3
    background: #0F2050
    border-bottom-left-radius: 32px
    border-bottom-right-radius: 32px
  &__nav-element
    // slide instance
    position: relative
    width: 100%
    min-width: 1px
    min-height: 0
    flex: 0 0 20%
    max-width: 20%
    color: $colorPrimary
    padding: 10px 10px 10px 24px
    cursor: pointer
    transition: .25s $ease
    &::before
      display: inline-block
      content: ' '
      position: absolute
      top: 10px
      bottom: 10px
      left: 10px
      width: 2px
      background: currentColor
      opacity: 0
      transition: opacity .25s $ease
    &:hover
      color: $colorPrimaryHover
      &::before
        opacity: 1
    &.swiper-slide-thumb-active
      color: white
      &::before
        opacity: 1
    .p-small
      margin-top: 2px

+r($xl)
  .trader-card
    &__main
      flex-wrap: wrap
    &__content
      flex-basis: calc(100% - 254px)
    &__chart
      flex: 0 0 100%
      padding-left: 0
      padding-top: 42px
    &__nav-element
      flex-basis: $col4
      max-width: $col4

+r($md)
  .trader-card
    background: transparent
    border-radius: 0px
    &__slider
      pointer-events: all
      padding-bottom: 30px
      margin-left: -20px
      margin-right: -20px
      .swiper-pagination
        display: flex
    &__main
      background: #13265C
      flex-basis: calc(100% - 32px)
      border-radius: 24px
      padding: 40px
    &__avatar
      flex-basis: 80px
      max-width: 80px
      border-radius: 12px
    &__content
      padding-left: 16px
      flex-basis: calc(100% - 80px)
    &__name
      margin-bottom: 4px
      margin-top: 8px
    &__info-grid
      &--desktop
        display: none
      &--mobile
        display: flex
        margin-top: 10px
    &__info-col
      .h4-title
        margin-top: 4px
    &__chart
      padding-top: 24px
    &__chart-graph
      margin-top: 12px
      height: 140px

    &__nav
      display: none

+r($sm)
  .trader-card
    &__chart-graph
      height: 78px
      margin-left: -10px
      margin-right: -10px


.is-ie
  .trader-card
    &__main
      padding-left: 0
      padding-right: 0
    &__avatar
      margin-left: 48px
    &__chart
      margin-right: 48px

+r($xl)
  .is-ie
    .trader-card
      &__chart
        width: calc(100% - 96px)
        flex-basis: calc(100% - 96px)
        padding-left: 48px

+r($md)
  .is-ie
    .trader-card
      &__avatar
        margin-left: 40px
      &__content
        padding-left: 40px
      &__chart
        width: calc(100% - 80px)
        flex-basis: calc(100% - 80px)
        margin-right: 40px
        margin-left: 0
        padding-left: 40px
