// TRADERS
- var currentLocale = locale || '';
.traders
  .traders__waves.bg-waves.bg-waves--blue
    include ../../icons/svg-inline/waves-up.svg

  .traders__container
    .container
      .traders__head.section-head(data-aos="fade-up")
        h4.h4-title=t('traders.title')
        p.p-main.c-gray=t('traders.subtitle')

      .traders__card(data-aos="fade-up")
        // trader-card
        include partials/_trader-card

      .traders__cta(data-aos="fade-up")
        a(href=`/${currentLocale}/traders`).btn.btn-ghost.btn-ghost--b0=t('traders.viewAll')

  .traders__waves.bg-waves.bg-waves--bottom.bg-waves--dark
    include ../../icons/svg-inline/waves-up.svg
