.ico-color-example {
  width: 1em;
  height: 1em;
}
.ico-color-logo-beta {
  width: 1.48em;
  height: 1em;
}
.ico-color-logo-sign {
  width: 0.96em;
  height: 1em;
}
.ico-color-lang-rus {
  width: 1em;
  height: 1em;
}
.ico-color-logo-sign-white {
  width: 1.03em;
  height: 1em;
}
