.ico-mono-email {
  width: 1.4em;
  height: 1em;
  fill: #FFF;
}
.ico-mono-social-facebook {
  width: 1em;
  height: 1em;
  fill: #18DCA6;
}
.ico-mono-social-instagram {
  width: 1em;
  height: 1em;
  fill: #18DCA6;
}
.ico-mono-social-twitter {
  width: 1em;
  height: 1em;
  fill: #18DCA6;
}
.ico-mono-arrow-down {
  width: 1.5em;
  height: 1em;
  fill: #041133;
}
