.ico-color-diversification {
  width: 1em;
  height: 1em;
}
.ico-color-example {
  width: 1em;
  height: 1em;
}
.ico-color-lang-eng {
  width: 1em;
  height: 1em;
}
.ico-color-lang-rus {
  width: 1em;
  height: 1em;
}
.ico-color-logo-beta {
  width: 1.48em;
  height: 1em;
}
.ico-color-logo-dark {
  width: 5.75em;
  height: 1em;
}
.ico-color-logo-sign-white {
  width: 1.03em;
  height: 1em;
}
.ico-color-logo-sign {
  width: 0.96em;
  height: 1em;
}
.ico-color-logo-white {
  width: 5.75em;
  height: 1em;
}
.ico-color-manageable-risks {
  width: 1em;
  height: 1em;
}
.ico-color-nav-about {
  width: 1em;
  height: 1em;
}
.ico-color-nav-ask-a-question {
  width: 1em;
  height: 1em;
}
.ico-color-nav-blog {
  width: 1em;
  height: 1em;
}
.ico-color-nav-contacts {
  width: 1em;
  height: 1em;
}
.ico-color-nav-faq {
  width: 1em;
  height: 1em;
}
.ico-color-nav-investors {
  width: 1em;
  height: 1em;
}
.ico-color-nav-signals {
  width: 1em;
  height: 1em;
}
.ico-color-nav-top-traders {
  width: 1em;
  height: 1em;
}
.ico-color-nav-traders-tools {
  width: 1em;
  height: 1em;
}
.ico-color-nav-traders {
  width: 1em;
  height: 1em;
}
.ico-color-no-ico {
  width: 1em;
  height: 1em;
}
.ico-color-passive-income {
  width: 1em;
  height: 1em;
}
.ico-color-portfolio {
  width: 1em;
  height: 1em;
}
.ico-color-profile-promotion {
  width: 1em;
  height: 1em;
}
.ico-color-safety {
  width: 1em;
  height: 1em;
}
.ico-color-skin-in-game {
  width: 1em;
  height: 1em;
}
.ico-color-technological-advantage {
  width: 1em;
  height: 1em;
}
.ico-color-transparency {
  width: 1em;
  height: 1em;
}
