.ico-mono-arrow-down {
  width: 1.5em;
  height: 1em;
  fill: #041133;
}
.ico-mono-arrow-right {
  width: 1em;
  height: 1em;
  fill: #18DCA6;
}
.ico-mono-close {
  width: 1em;
  height: 1em;
  fill: #18DCA6;
}
.ico-mono-email {
  width: 1.4em;
  height: 1em;
  fill: #FFF;
}
.ico-mono-map-point-big {
  width: 0.81em;
  height: 1em;
  fill: #18DCA6;
}
.ico-mono-map-point {
  width: 0.84em;
  height: 1em;
  fill: #18DCA6;
}
.ico-mono-nav-ask-a-question {
  width: 1em;
  height: 1em;
  fill: #CFD5E4;
}
.ico-mono-nav-faq {
  width: 1em;
  height: 1em;
  fill: #E7EBF4;
}
.ico-mono-nav-investors {
  width: 1em;
  height: 1em;
  fill: #18DCA6;
}
.ico-mono-nav-signals {
  width: 1em;
  height: 1em;
  fill: #CFD5E4;
}
.ico-mono-nav-top-traders {
  width: 1em;
  height: 1em;
  fill: #E7EBF4;
}
.ico-mono-nav-traders-tools {
  width: 1em;
  height: 1em;
  fill: #E7EBF4;
}
.ico-mono-nav-traders {
  width: 1em;
  height: 1em;
  fill: #E7EBF4;
}
.ico-mono-pointer-long {
  width: 0.09em;
  height: 1em;
  fill: #18DCA6;
}
.ico-mono-pointer-short {
  width: 0.11em;
  height: 1em;
  fill: #18DCA6;
}
.ico-mono-social-facebook {
  width: 1em;
  height: 1em;
  fill: #18DCA6;
}
.ico-mono-social-instagram {
  width: 1em;
  height: 1em;
  fill: #18DCA6;
}
.ico-mono-social-twitter {
  width: 1em;
  height: 1em;
  fill: #18DCA6;
}
.ico-mono-social-medium {
  width: 1em;
  height: 1em;
  fill: #18DCA6;
}
